{% extends 'admin/base.html' %}
{% block header %}
<style>
    .text-nowrap {
        white-space: nowrap;
    }

    .w-100 {
        width: 100%;
    }

    .ml-auto {
        margin-left: auto;
    }

    .gap-2 {
        gap: 0.5em;
    }

    .is-right {
        text-align: right;
    }
</style>
<script src="/static/js/pages/admin/users/upload-scores.js" defer></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        transaction(state => {
            state.apiKey = "{{ session['user_data']['api_key'] }}"
            state.userId = parseInt('{{ search_data.id }}')
        }, false)
    })
</script>
{% endblock %}
{% block title %} Users {% endblock %}

{% block content %}
<template id="template-replay-row">
    <div class="tags has-addons m-0">
        <span class="tag mb-0" id="key"></span>
        <span class="tag mb-0 is-primary" id="value"></span>
    </div>
</template>
<div class="is-flex is-align-items-center is-flex-direction-column pt-4">
    <article style="min-width: fit-content; width: 60vw;" class="panel is-primary">
        <p class="panel-heading">
            {{t("admin.upload-replay.upload-score-for", name = search_data['name'])}}
        </p>
        <form id="osr-reader" onsubmit="event.preventDefault()">
            <div class="panel-block columns" >
                <div class="column py-0 is-one-quarter text-nowrap is-flex is-align-items-center gap-2">
                    <i class="fas fa-id-card" aria-hidden="true"></i>
                    {{t("osr-reader.file")}}
                </div>
                <div class="column py-0 is-flex is-align-items-center gap-2">
                    <div class="file" id="form-replay-file-label">
                        <label class="file-label">
                            <input class="file-input" type="file" name="replay_file" onchange="uploadOsr()">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    {{t("osr-reader.upload-osr")}}
                                </span>
                            </span>
                        </label>
                    </div>
                    <div id="replay-result" class="is-flex is-align-items-center gap-2"></div>
                </div>
            </div>
        </form>
        <hr>
        <form id="submit-replay" onsubmit="event.preventDefault(); submitReplay()">
            <!-- <div class="panel-block columns is-hidden" >
                <div class="column py-0 is-one-quarter text-nowrap is-flex is-align-items-center gap-2">
                    <i class="fas fa-id-card" aria-hidden="true"></i>
                    {{t("admin.users.id")}}
                </div>
                <div class="column py-0">
                    <input name="userid" type="text" class="input" value="{{ search_data.id }}" required>
                </div>
            </div> -->
            <div class="panel-block columns" >
                <div class="column py-0 is-one-quarter text-nowrap is-flex is-align-items-center gap-2">
                    <i class="fab fa-octopus-deploy"></i>
                    {{t("grades.grade")}}
                </div>
                <div class="column py-0">
                    <div class="select w-100">
                        <select name="grade" class="w-100" required>
                            <option value="N">{{t("grades.N")}}</option>
                            <option value="F">{{t("grades.F")}}</option>
                            <option value="D">{{t("grades.D")}}</option>
                            <option value="C">{{t("grades.C")}}</option>
                            <option value="B">{{t("grades.B")}}</option>
                            <option value="A">{{t("grades.A")}}</option>
                            <option value="S">{{t("grades.S")}}</option>
                            <option value="SH">{{t("grades.SH")}}</option>
                            <option value="X">{{t("grades.X")}}</option>
                            <option value="XH">{{t("grades.XH")}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-block columns" >
                <div class="column py-0 is-one-quarter text-nowrap is-flex is-align-items-center gap-2">
                    <i class="fa-solid fa-server"></i>
                    {{t("servers.server")}}
                </div>
                <div class="column py-0">
                    <div class="select w-100">
                        <select name="server" class="w-100" required>
                            <option value="bancho">{{t("servers.bancho")}}</option>
                            <option value="ppysb">{{t("servers.ppy-sb")}}</option>
                            <option value="akatsuki">{{t("servers.akatsuki")}}</option>
                            <option value="offline">{{t("servers.offline")}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-block columns" >
                <div class="column py-0 is-one-quarter text-nowrap is-flex is-align-items-center gap-2">
                    <i class="fas fa-user-check"></i>
                    {{t("admin.upload-replay.identifier-type")}}
                </div>
                <div class="column py-0">
                    <div class="field has-addons w-100 pt-3">
                        <p class="control w-100">
                            <span class="select">
                                <select name="identifier_type" required>
                                    <option value="replay_username">
                                        {{t("admin.upload-replay.identifier-types.replay_username")}}</option>
                                    <option value="server_userid">
                                        {{t("admin.upload-replay.identifier-types.server_userid")}}
                                    </option>
                                    <option value="replay_id">{{t("admin.upload-replay.identifier-types.replay_id")}}
                                    </option>
                                </select>
                            </span>
                        </p>
                        <p class="control w-100">
                            <input class="input" name="outer_identifier" required type="text"
                                placeholder="{{ t('admin.outer-identifier') }}">
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="panel-block columns" >
                <div class="column py-0 is-one-quarter text-nowrap">{{ t("osr-reader.map_md5") }}</div>
                <div class="column py-0">
                    <input type="text" class="input" name="map_md5" required>
                </div>
            </div>

            <div class="panel-block columns" >
                <div class="column py-0 is-one-quarter text-nowrap">{{ t("osr-reader.max_combo") }}</div>
                <div class="column py-0">
                    <input type="number" class="input" name="max_combo" required>
                </div>
            </div>

            <div class="panel-block columns" >
                <div class="column py-0 is-one-quarter text-nowrap">{{ t("osr-reader.mode") }}</div>
                <div class="column py-0">
                    <input type="number" class="input" name="mode" required>
                </div>
            </div>

            <div class="panel-block columns" >
                <div class="column py-0 is-one-quarter text-nowrap">{{ t("osr-reader.mods") }}</div>
                <div class="column py-0">
                    <input type="number" class="input" name="mods" required>
                </div>
            </div>

            <div class="panel-block columns" >
                <div class="column py-0 is-one-quarter text-nowrap">{{ t("osr-reader.n100") }}</div>
                <div class="column py-0">
                    <input type="number" class="input" name="n100" required>
                </div>
            </div>

            <div class="panel-block columns" >
                <div class="column py-0 is-one-quarter text-nowrap">{{ t("osr-reader.n300") }}</div>
                <div class="column py-0">
                    <input type="number" class="input" name="n300" required>
                </div>
            </div>

            <div class="panel-block columns" >
                <div class="column py-0 is-one-quarter text-nowrap">{{ t("osr-reader.n50") }}</div>
                <div class="column py-0">
                    <input type="number" class="input" name="n50" required>
                </div>
            </div>

            <div class="panel-block columns" >
                <div class="column py-0 is-one-quarter text-nowrap">{{ t("osr-reader.ngeki") }}</div>
                <div class="column py-0">
                    <input type="number" class="input" name="ngeki" required>
                </div>
            </div>

            <div class="panel-block columns" >
                <div class="column py-0 is-one-quarter text-nowrap">{{ t("osr-reader.nkatu") }}</div>
                <div class="column py-0">
                    <input type="number" class="input" name="nkatu" required>
                </div>
            </div>

            <div class="panel-block columns" >
                <div class="column py-0 is-one-quarter text-nowrap">{{ t("osr-reader.nmiss") }}</div>
                <div class="column py-0">
                    <input type="number" class="input" name="nmiss" required>
                </div>
            </div>

            <div class="panel-block columns" >
                <div class="column py-0 is-one-quarter text-nowrap">{{ t("osr-reader.perfect") }}</div>
                <div class="column py-0">
                    <input type="checkbox" class="checkbox" name="perfect">
                </div>
            </div>

            <div class="panel-block columns" >
                <div class="column py-0 is-one-quarter text-nowrap">{{ t("osr-reader.playtime") }}</div>
                <div class="column py-0">
                    <input type="number" class="input" name="playtime" required>
                </div>
            </div>

            <!-- <div class="panel-block columns" >
                <div class="column py-0 is-one-quarter text-nowrap">{{ t("osr-reader.replay_id") }}</div>
                <div class="column py-0">
                    <input type="number" class="input" name="replay_id">
                </div>
            </div> -->

            <div class="panel-block columns" >
                <div class="column py-0 is-one-quarter text-nowrap">{{ t("osr-reader.score") }}</div>
                <div class="column py-0">
                    <input type="number" class="input" name="score" required>
                </div>
            </div>

            <!-- <div class="panel-block columns" >
                <div class="column py-0 is-one-quarter text-nowrap">{{ t("osr-reader.username") }}</div>
                <div class="column py-0">
                    <input type="text" class="input" name="username">
                </div>
            </div> -->
            <hr>
            <div class="panel-block pb-4">
                <div style="margin-left: auto;"></div>
                <button type="submit" form="submit-replay"
                    class="button is-primary">{{t("admin.upload-replay.upload")}}</button>
                <div style="margin-right: 1em;"></div>
            </div>
        </form>
    </article>
</div>

{% endblock content %}