<html>

<head>
  <!-- title -->
  <title>{{ appName() }} - {{ t('admin.base.admin') }} - {% block title %}{% endblock %}</title>

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#d55b9e">
  <link rel="shortcut icon" href="/static/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
  <meta name="theme-color" content="#000000">

  <!-- metadata -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- jquery -->
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>

  <!-- bulma -->
  <link rel="stylesheet" href="/static/css/bulma.css?v={{ appVersion() }} " />

  <!-- font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

  <!-- custom style -->
  <link rel="stylesheet" href="/static/css/style.css?v={{ appVersion() }} ">
  <link rel="stylesheet" href="/static/css/pages/admin/style.css?v={{ appVersion() }} ">

  {% block header %}
  {% endblock %}
</head>

<body>
  <!-- Header -->
  {% include './components/navbar.html' %}

  <!-- content -->
  <div class="content admin-con">
    <div class="columns is-marginless is-paddingless">
      <div class="colmun">
        <div class="sidebar">
          <div id="style-3" class="sidebar-wrapper">
            <div class="logo"><a class="simple-text logo-normal">{{ t('admin.base.admin-panel', appName = appName()) }}</a></div>
            <ul class="nav">
              <li class="nav-item"><a class="nav-link" href="/admin/dashboard"><span class="icon"><i class="fa fa-home"></i></span> <span
                    class="name">{{ t('admin.base.dashboard') }}</span></a></li>
              <li class="nav-item"><a class="nav-link" href="/admin/users"><span class="icon"><i class="fa fa-user"></i></span> <span
                class="name">Users</span></a></li>
              <li class="nav-item"><a class="nav-link" href="/admin/restrictions"><span class="icon"><i class="fa fa-ban"></i></span> <span
                class="name">Restrictions</span></a></li>
              <li class="nav-item"><a class="nav-link" href="/admin/beatmaps"><span class="icon"><i class="fa fa-map"></i></span> <span
                class="name">Beatmaps</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="column content" style="min-height: 1000px;">
        <section class="section">
          {% block content %}
          {% endblock %}
        </section>
      </div>
    </div>
  </div>

  <!-- footer -->
  <footer class="footer">
    <div class="content">
      <span>{{ appName() }} <strong>v{{ appVersion() }}</strong></span>
    </div>
  </footer>

  <!-- main js script -->
  <script src="/static/js/main.js?v={{ appVersion() }} " crossorigin="anonymous"></script>
</body>

</html>