<html>

<head>
  <!-- title -->
  <title>{{ appName() }} - Admin - {% block title %}{% endblock %}</title>

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- metadata -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"
    integrity="sha512-/DXTXr6nQodMUiq+IUJYCt2PPOUjrHJ9wFrqpJ3XkgPNOZVfMok7cRw6CSxyCQxXn6ozlESsSh1/sMCTF1rL/g=="
    crossorigin="anonymous"></script>

  <!-- bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/HakuraSukinoe/bulma-hsl/bulma.min-v6.css" />

  <!-- font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

  <!-- custom style -->
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/pages/admin/style.css">

  {% block header %}
  {% endblock %}
</head>

<body>
  <!-- Header -->
  {% include './components/navbar.html' %}

  <!-- content -->
  <div class="content admin-con container">
    <div class="columns is-marginless is-paddingless">
      <div class="column content">
        <div class="main-content">
          <div class="columns is-marginless">
            <div class="column is-paddingless is-avatar">
              <img src="https://a.{{ domain() }}/{{ session.user_data['id'] }}"
                onError="this.src='/static/images/avatar_notwork.png';" class="header-avatar">
            </div>
            <div class="column is-paddingless flex-vcenter">
              <h2 class="section-title">Dashboard</h2>
              <p class="section-lead">Welcome to {{ appName() }} admin panel!</p>
            </div>
          </div>
          <section class="section">
            {% block content %}
            {% endblock %}
          </section>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <footer class="footer">
      <div class="content container">
          <span>© {{ currentYear() }} <strong>{{ appName() }}</strong></span>
          <a class="foot-link" href="/discord"><i class="fab fa-discord"></i> Discord</a>
          <a class="foot-link" href="/discord"><i class="fab fa-users"></i> Team</a>
      </div>
  </footer>

  <!-- main js script -->
  <script src="/static/js/main.js" crossorigin="anonymous"></script>
</body>

</html>
