<html>

<head>
  <!-- title -->
  <title>{{ appName() }} - Admin - {% block title %}{% endblock %}</title>

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#d55b9e">
  <link rel="shortcut icon" href="/static/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
  <meta name="theme-color" content="#000000">

  <!-- metadata -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"
    integrity="sha512-/DXTXr6nQodMUiq+IUJYCt2PPOUjrHJ9wFrqpJ3XkgPNOZVfMok7cRw6CSxyCQxXn6ozlESsSh1/sMCTF1rL/g=="
    crossorigin="anonymous"></script>

  <!-- bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/HakuraSukinoe/bulma-hsl/bulma.min-v6.css" />

  <!-- font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

  <!-- custom style -->
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/pages/admin/style.css">

  {% block header %}
  {% endblock %}
</head>

<body>
  <!-- Header -->
  {% include './components/navbar.html' %}

  <!-- content -->
  <div class="content admin-con">
    <div class="columns is-marginless is-paddingless">
      <div class="colmun">
        <div class="sidebar">
          <div id="style-3" class="sidebar-wrapper">
            <div class="logo"><a class="simple-text logo-normal">{{ appName() }} Admin Panel</a></div>
            <ul class="nav">
              <li class="nav-item"><a class="nav-link"><span class="icon"><i class="fa fa-home"></i></span> <span
                    class="name">Dashboard</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="column content">
        <div class="main-content">
          <div class="columns is-marginless">
            <div class="column is-paddingless is-avatar">
              <img src="https://a.{{ domain() }}/{{ session.user_data['id'] }}"
                onError="this.src='/static/images/avatar_notwork.png';" class="header-avatar">
            </div>
            <div class="column is-paddingless flex-vcenter">
              <h2 class="section-title">Dashboard</h2>
              <p class="section-lead">Welcome to {{ appName() }} admin panel!</p>
            </div>
          </div>
          <section class="section">
            {% block content %}
            {% endblock %}
          </section>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <footer class="footer">
    <div class="content">
      <span>{{ appName() }} <strong>v{{ appVersion() }}</strong></span>
      <a class="foot-link" href="/github"><i class="fa fa-github"></i> GitHub</a>
      <a class="foot-link" href="/discord"><i class="fab fa-discord"></i> Discord</a>
      <a class="foot-link" href="/youtube"><i class="fab fa-youtube"></i> YouTube</a>
      <a class="foot-link" href="/twitter"><i class="fab fa-twitter"></i> Twitter</a>
      <a class="foot-link" href="/instagram"><i class="fab fa-instagram"></i> Instagram</a>
    </div>
  </footer>

  <!-- main js script -->
  <script src="/static/js/main.js" crossorigin="anonymous"></script>
</body>

</html>
