{% extends 'admin/base.html' %}
{% block title %} Beatmaps {% endblock %}\

{% block content %}
<div class="columns is-marginless">
    <div class="column is-paddingless is-avatar">
      <img src="https://a.{{ domain() }}/{{ session.user_data['id'] }}"
        onError="this.src='/static/images/avatar_notwork.png';" class="header-avatar">
    </div>
    <div class="column is-paddingless flex-vcenter">
      <h2 class="section-title">Beatmaps</h2>
      <p class="section-lead">Welcome to beatmaps panel</p>
    </div>
</div>
<div class="row row-deck row-cards" style="margin-top: 20px">
    <div class="columns is-marginless is-paddingless">
        <div class="column is-paddingless p-3">
            <a href="/admin/beatmaps/osu" class="button" style="width: 100%; margin-bottom: 10px">osu!</a>
            <div class="card">
                <div class="title">Total beatmaps</div>
                <i class="fa fa-plus"></i>
                <div class="value">{{ counts['total'] }}</div>
                <div class="stat">That's a lot of maps</div>
            </div>
        </div>
        <div class="column is-paddingless p-3">
            <a href="/admin/beatmaps/taiko" class="button" style="width: 100%; margin-bottom: 10px">osu!taiko</a>
            <div class="card">
                <div class="title">Ranked</div>
                <i class="fa fa-bolt"></i>
                <div class="value">{{ counts['ranked'] }}</div>
                <div class="stat">These maps can gain many pp</div>
            </div>
        </div>
        <div class="column is-paddingless p-3">
            <a href="/admin/beatmaps/catch" class="button" style="width: 100%; margin-bottom: 10px">osu!catch</a>
            <div class="card">
                <div class="title">Loved</div>
                <i class="fa fa-heart"></i>
                <div class="value">{{ counts['loved'] }}</div>
                <div class="stat">We loved them so much</div>
            </div>
        </div>
        <div class="column is-paddingless p-3">
            <a href="/admin/beatmaps/mania" class="button" style="width: 100%; margin-bottom: 10px">osu!mania</a>
            <div class="card">
                <div class="title">Pending</div>
                <i class="fa fa-arrows-rotate"></i>
                <div class="value">{{ counts['pending'] }}</div>
                <div class="stat">They are also good maps</div>
            </div>
        </div>
    </div>
    <div class="column is-paddingless" style="margin: 20px">
        <div class="columns is-marginless">
            <div class="column is-paddingless">
                <input id="search-bar" class="input" value="{{ search_word }}">
            </div>
            <div style="margin-left: 20px" class="column is-paddingless">
                <button onclick="map_admin_search('bid')" class="button" style="width: 200px">Search by BID</button>
                <button onclick="map_admin_search('sid')" class="button" style="width: 200px">Search by SID</button>
                <button onclick="map_admin_search('name')" class="button" style="width: 200px">Search by Name</button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table card-table table-vcenter text-nowrap datatable">
            <thead style="text-align: center;">
                <tr>
                    <th>Beatmap</th>
                    <th>CS / Keys</th>
                    <th>AR</th>
                    <th>HP</th>
                    <th>OD</th>
                    <th>BPM</th>
                    <th>Stars</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody style="text-align: center;">
                {% for i in bmap_query %}
                <tr>
                    <td class="no-padding">
                        <div onclick="window.open('https://osu.ppy.sh/beatmapsets/{{ i.set_id }}')"
                            class="card song-banner"
                            style="cursor:pointer; background-image: url(https://assets.ppy.sh/beatmaps/{{ i.set_id }}/covers/cover.jpg); background-size:cover; height: 140px; width: 450px;">
                            <div class="card-body" style="background-color: rgba(0, 0, 0, 0.8);">
                                <a class="play-detail__title">{{ i.title }}
                                    <small style="display: inline;">by {{ i.creator }}</small>
                                </a>
                                <span style="color: #ea0; font-size: 14px">Skystar's Tragic Love Extra</span>
                            </div>
                        </div>
                    </td>
                    <td class="bigger_td">
                        {{ i.cs }}
                    </td>
                    <td class="bigger_td">
                        {{ i.ar }}
                    </td>
                    <td class="bigger_td">
                        {{ i.hp }}
                    </td>
                    <td class="bigger_td">
                        {{ i.od }}
                    </td>
                    <td class="bigger_td">
                        {{ i.bpm }}
                    </td>
                    <td class="bigger_td">
                        {{ i.stars }}
                    </td>
                    <td class="bigger_td">
                        {{ decode_map_status(i.status) }}
                    </td>
                    <td>
                        <div>
                            <a class="button" href="/admin/beatmaps/edit/{{ i.map_id }}?status=2&set=0">Ranked</a>
                            <a class="button" href="/admin/beatmaps/edit/{{ i.map_id }}?status=5&set=0">Loved</a>
                            <a class="button" href="/admin/beatmaps/edit/{{ i.map_id }}?status=3&set=0">Approved</a>
                            <a class="button" href="/admin/beatmaps/edit/{{ i.map_id }}?status=0&set=0">Pending</a>
                        </div>
                        <div style="margin-top: 10px">
                            <a class="button" href="/admin/beatmaps/edit/{{ i.set_id }}?status=2&set=1">Ranked Set</a>
                            <a class="button" href="/admin/beatmaps/edit/{{ i.set_id }}?status=5&set=1">Loved Set</a>
                            <a class="button" href="/admin/beatmaps/edit/{{ i.set_id }}?status=3&set=1">Approved Set</a>
                            <a class="button" href="/admin/beatmaps/edit/{{ i.set_id }}?status=0&set=1">Pending Set</a>
                        </div>
                        <div style="margin-top: 10px">
                            <a class="button" href="/admin/beatmaps/sync/{{ i.set_id }}">
                                Sync Beatmapsets with Bancho
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<style>
    .bigger_td {
        line-height: 7;
        font-size: 20;
    }

    .play-detail__title {
        color: #fff;
        font-size: 20px;
        display: block;
        align-self: flex-start;
        max-width: 100%;
    }
</style>
<script>$(document).ready(function () {
        $(".dropdown .buttond").click(function () {
            var dropdown = $(this).parents('.dropdown');
            dropdown.toggleClass('is-active');
            dropdown.focusout(function () {
                $(this).removeClass('is-active');
            });
        });

    });
</script>
{% endblock %}