{% extends 'admin/base.html' %}
{% block title %} Beatmaps {% endblock %}\

{% macro card(title='base', haschart=true, chartname='base', data=0) %}
<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="subheader">{{ title }}</div>
        </div>
        <div class="d-flex align-items-baseline">
            <div class="h1 mb-0 me-2">{{ data }}</div>
        </div>
    </div>
    {% if haschart %}
    <div id="chart-{{ chartname }}" class="chart-sm"></div>
    {% endif %}
</div>
{% endmacro %}


{% block content %}
<!-- Beatmap Number -->
<div class="row row-deck row-cards">
    <div class="col-sm-6 col-lg-3">
        {{ card(title='Total beatmaps in database', data=counts['total'], chartname='total-beatmaps') }}
    </div>
    <div class="col-sm-6 col-lg-3">
        {{ card(title='Total ranked beatmaps', data=counts['ranked'], chartname='ranked-beatmaps') }}
    </div>
    <div class="col-sm-6 col-lg-3">
        {{ card(title='Total loved beatmaps', data=counts['loved'], chartname='loved-beatmaps') }}
    </div>
    <div class="col-sm-6 col-lg-3">
        {{ card(title='Total Pending beatmaps', data=counts['pending'], chartname='pending-beatmaps') }}
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body border-bottom py-3">
                <div class="d-flex">
                    <div class="text-muted">
                        Show
                        <div class="mx-2 d-inline-block">
                            <input type="text" class="form-control form-control-sm" value="10" size="3"
                                aria-label="Users count">
                        </div>
                        entries
                    </div>
                    <div class="ms-auto text-muted">
                        Search:
                        <div class="ms-2 d-inline-block">
                            <input type="text" class="form-control form-control-sm" aria-label="Search invoice">
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                    <thead style="text-align: center;">
                        <tr>
                            <th>
                                Beatmap
                            </th>
                            <th>
                                Mode
                            </th>
                            <th>
                                CS / Keys
                            </th>
                            <th>
                                AR
                            </th>
                            <th>
                                HP
                            </th>
                            <th>
                                OD
                            </th>
                            <th>
                                BPM
                            </th>
                            <th>
                                Length
                            </th>
                            <th>
                                Stars
                            </th>
                            <th>
                                Manage Status
                            </th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        {% for i in bmap_query %}
                        <tr>
                            <td class="no-padding">
                                <div class="card song-banner"
                                    style="background-image: url(https://assets.ppy.sh/beatmaps/{{ i.set_id }}/covers/cover.jpg); background-size:cover">
                                    <div class="card-body" style="background-color: rgba(0, 0, 0, 0.45);">
                                        <a href="https://osu.ppy.sh/beatmapsets/{{ i.set_id }}" target="_blank"
                                            class="text-white">{{ i.artist }} + {{ i.creator }} -
                                            <br />{{ i.title }}. [{{ i.diff_name }}]</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{ i.mode }}
                            </td>
                            <td>
                                {{ i.cs }}
                            </td>
                            <td>
                                {{ i.ar }}
                            </td>
                            <td>
                                {{ i.hp }}
                            </td>
                            <td>
                                {{ i.od }}
                            </td>
                            <td>
                                {{ i.bpm }}
                            </td>
                            <td>
                                {{ i.length }}
                            </td>
                            <td>
                                {{ i.stars }}
                            </td>
                            <td> <!-- TODO: Add js script to display correct status here -->
                                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">⠀
                                    Status Here
                                </button>
                                <div class="dropdown-menu">
                                    <a class="btn1a dropdown-item" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-chevron-double-up" viewBox="0 0 16 16" style="color: #00cf97;">
                                            <path fill-rule="evenodd"
                                                d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z" />
                                            <path fill-rule="evenodd"
                                                d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                                        </svg>⠀
                                        Ranked
                                    </a>
                                    <a class="btn2a dropdown-item" href="#">
                                        <i class="fas fa-heart" style="color: rgb(255, 172, 237);"></i>⠀
                                        Loved
                                    </a>
                                    <a class="btn3a dropdown-item" href="#">
                                        <i class="fas fa-question"></i>⠀
                                        Unranked
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>        
                </table>
            </div>
            <div class="card-footer d-flex align-items-center">
                <ul class="pagination m-0 m-auto">
                    <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <polyline points="15 6 9 12 15 18"></polyline>
                            </svg>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <polyline points="9 6 15 12 9 18"></polyline>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
