{% extends 'admin/base.html' %}
{% block title %} Dashboard {% endblock %}
{% block htitle %} Dashboard {% endblock %}
{% block stitle %} Overview {% endblock %}

{% macro card(title='base', haschart=true, chartname='base', data=0) %}
<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="subheader">{{ title }}</div>
        </div>
        <div class="d-flex align-items-baseline">
            <div class="h1 mb-0 me-2">{{ data }}</div>
        </div>
    </div>
    {% if haschart %}
    <div id="chart-{{ chartname }}" class="chart-sm"></div>
    {% endif %}
</div>
{% endmacro %}

{% macro log() %}
<div>
    <div class="row">
        <div class="col-auto">
            <span class="avatar">VK</span>
        </div>
        <div class="col">
            <div class="text-truncate">
                <strong>Varkaria</strong> was banned username <strong>"Among us"</strong>
            </div>
            <div class="text-muted">yesterday</div>
        </div>
        <div class="col-auto align-self-center">
            <div class="badge bg-primary"></div>
        </div>
    </div>
</div>
{% endmacro %}

{% block content %}
<div class="row row-deck row-cards">
    <div class="col-sm-6 col-lg-3">
        {{ card(title='Online Users', data=3, chartname='online-users') }}
    </div>
    <div class="col-sm-6 col-lg-3">
        {{ card(title='Registered Users',data=0) }}
    </div>
    <div class="col-sm-6 col-lg-3">
        {{ card(title='Banned Users',data=0) }}
    </div>
    <div class="col-sm-6 col-lg-3">
        {{ card(title='Supporter Users',data=0) }}
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header border-0">
                <div class="card-title">Registered users list</div>
            </div>
            <div class="card-table table-responsive">
                <table class="table table-vcenter">
                    <thead>
                        <tr>
                            <th>Avatar</th>
                            <th>Username</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="w-1">
                                <span class="avatar avatar-sm">VK</span>
                            </td>
                            <td class="td-truncate">
                                <div class="text-truncate">
                                    Varkaria
                                </div>
                            </td>
                            <td class="text-nowrap text-muted">28 Nov 2019</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body card-body-scrollable card-body-scrollable-shadow">
                <div class="divide-y">
                    {{ log() }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptb %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        window.ApexCharts && (new ApexCharts(document.getElementById('chart-online-users'), {
            chart: {
                type: "area",
                fontFamily: 'inherit',
                height: 40.0,
                sparkline: {
                    enabled: true
                },
                animations: {
                    enabled: false
                },
            },
            dataLabels: {
                enabled: false,
            },
            fill: {
                opacity: .16,
                type: 'solid'
            },
            stroke: {
                width: 2,
                lineCap: "round",
                curve: "smooth",
            },
            series: [{
                name: "Online Users",
                data: [0, 2, 3]
            }],
            grid: {
                strokeDashArray: 4,
            },
            xaxis: {
                labels: {
                    padding: 0,
                },
                tooltip: {
                    enabled: false
                },
                axisBorder: {
                    show: false,
                }
            },
            yaxis: {
                labels: {
                    padding: 4
                },
            },
            labels: ['soon', 'soon', 'soon'],
            colors: ["#206bc4"],
            legend: {
                show: false,
            },
        })).render();
    });
</script>
{% endblock scriptb %}