{% extends 'admin/base.html' %}
{% block title %} Dashboard {% endblock %}
{% block header %}
<script src="/static/js/assets/vue.js"></script>
<script src="/static/js/assets/vue-axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
<script>
    var domain = "{{ domain() }}";
</script>
<style>
    .card .title, .card .stat {
        font-size: 12px
    }
</style>
{% endblock%}

{% block content %}

<div class="columns is-marginless">
    <div class="column is-paddingless is-avatar">
      <img src="https://a.{{ domain() }}/{{ session.user_data['id'] }}"
        onError="this.src='/static/images/avatar_notwork.png';" class="header-avatar">
    </div>
    <div class="column is-paddingless flex-vcenter">
      <h2 class="section-title">{{ t('admin.base.dashboard') }}</h2>
      <p class="section-lead">{{ t('admin.base.welcome-to-admin-panel', appName = appName()) }}</p>
    </div>
</div>
<div class="dashboard" id="dashboard">
    <div class="columns is-marginless is-paddingless">
        <div class="column is-paddingless pr-3 py-3">
            <div class="card">
                <div class="title">{{ t('admin.home.total-users') }}</div>
                <i class="fa fa-users"></i>
                <div class="value">{{ dashdata['count'] }}</div>
                <div class="stat">{{ t('admin.home.that-s-a-lot-of-people') }}</div>
            </div>
        </div>
        <div class="column is-paddingless p-3">
            <div class="card">
                <div class="title">{{ t('admin.home.total-online') }}</div>
                <i class="fa fa-circle"></i>
                <div class="value">
                    <% online_users %>
                </div>
                <div class="stat">{{ t('admin.home.rising-in-popularity-aren-t-we') }}</div>
            </div>
        </div>
        <div class="column is-paddingless p-3">
            <div class="card">
                <div class="title">{{ t('admin.home.latest-user') }}</div>
                <i class="fa fa-book"></i>
                <div class="value">{{ dashdata['lastest_user'] }}</div>
                <div class="stat">{{ t('admin.home.latest-and-greatest-welcome') }}</div>
            </div>
        </div>
        <div class="column is-paddingless pl-3 py-3">
            <div class="card">
                <div class="title">{{ t('admin.home.total-banned') }}</div>
                <i class="fa fa-calendar"></i>
                <div class="value">{{ dashdata['banned'] }}</div>
                <div class="stat">{{ t('admin.home.naughty-sad-face') }}</div>
            </div>
        </div>
    </div>
<div class="columns is-marginless is-paddingless">
    {% if recentusers %}
    <div class="column is-paddingless mr-1 is-3">
        <div class="recent-beat">
            <div class="columns is-marginless">
                <div class="column is-paddingless flex-vcenter">
                    <h2 class="section-title">{{ t('admin.home.recent-users') }}</h2>
                </div>
            </div>
            <div class="blockdata">
                {% for user in recentusers %}
                <a href="/u/{{ user.id }}" class="user-block{% if user.priv == 1 %} unverified{% endif %}">
                    <img src="https://a.{{ domain() }}/{{ user.id }}" class="avatar-picture">
                    <div class="user-stats"><span class="user-title">
                        <img src="/static/images/flags/{{ user.country|upper }}.png" class="profile-flag"> {{ user.name }}
                        </span><span class="user-artist">
                            {{ user.email }}
                        </span>
                        <div class="user-footer">
                            <span class="user-mapper">
                            {{ timeago.format((datetime.datetime.fromtimestamp(user.creation_time)),
                                (datetime.datetime.now() + datetime.timedelta(seconds = 60 * 3.4))) }}
                            </span>
                            <div class="d-flex align-items-baseline">
                                <span>
                                {{ timeago.format((datetime.datetime.fromtimestamp(user.latest_activity)),
                                    (datetime.datetime.now() + datetime.timedelta(seconds = 60 * 3.4))) }}
                                </span>
                                <div class="target-button newmaps-color">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if recentscores %}
    <div class="column is-paddingless ml-1">
        <div class="recent-beat">
            <div class="columns is-marginless">
                <div class="column is-paddingless flex-vcenter">
                    <h2 class="section-title">{{ t('admin.home.recent-score') }}</h2>
                </div>
            </div>
            <div class="blockdata">
                {% for maps in recentscores %}
                <div class="map-single">
                    <div class="map-content1">
                        <div class="map-image"><img src="https://assets.ppy.sh/beatmaps/{{ maps.set_id }}/covers/cover.jpg"
                                class="map-image-picture"></div>
                        <div class="map-title-block">
                            <div class="map-title"><a class="user-link">
                                    [{{ maps.mode }}] {{ maps.title }} [{{ maps.version }}]
                                </a></div>
                            <div class="play-stats">
                                {{ maps.score }} / {{ maps.max_combo }}x
                            </div>
                            <div class="map-date"><time>
                                {{ timeago.format((maps.play_time), (datetime.datetime.now() + datetime.timedelta(seconds = 60 * 3.4))) }}
                                </time></div>
                        </div>
                    </div>
                    <div class="map-content2">
                        <div class="score-details d-flex">
                            <div class="score-details_right-block">
                                <div class="score-details_pp-block">
                                    <div class="map-pp">
                                        {{ maps.pp }}<span class="map-pp-unit">{{ t('global.pp').upper() }}</span></div>
                                    <div class="map-acc">{{ t('global.accuracy') }}:&nbsp;<b>
                                        {{ maps.acc }}%
                                        </b></div>
                                </div>
                                <div class="score-details_grade-block">
                                    <div class="rank-single">
                                        <div class="map-rank rank-{{ maps.grade|upper }}">
                                            {{ maps.grade.replace("X", "SS").replace("H", "") }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script src="/static/js/pages/admin/dashboard.js"></script>

{% endblock %}