<!-- All admin logs will appered here -->
{% extends 'admin/base.html' %}
{% block title %} Logs {% endblock %}

{% macro card(title='base', haschart=true, chartname='base', data=0) %}
<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="subheader">{{ title }}</div>
        </div>
        <div class="d-flex align-items-baseline">
            <div class="h1 mb-0 me-2">{{ data }}</div>
        </div>
    </div>
    {% if haschart %}
    <div id="chart-{{ chartname }}" class="chart-sm"></div>
    {% endif %}
</div>
{% endmacro %}

{% block content %}
{% if error %}
<div class="alert alert-danger col-lg-3" role="alert" style="display: block; position: relative; margin-top: -3.5rem;">
    <h4 class="alert-title">{{ error }}</h4>
</div>
{% endif %}
<div class="row row-deck row-cards">
    <div class="col-sm-6 col-lg-6">
        {{ card(title='Total logs', data=query_data[0]['logcount'], chartname='logs-total') }}
    </div>
    <div class="col-sm-6 col-lg-6">
        {{ card(title='Logs this month',data=727, chartname='logs-month') }}
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body border-bottom py-3">
                <div class="d-flex">
                    <div class="text-muted">
                        Show
                        <div class="mx-2 d-inline-block">
                            <input type="text" class="form-control form-control-sm" value="25" size="3" aria-label="Users count">
                        </div>
                        entries
                    </div>
                    <div class="ms-auto text-muted">
                        Search:
                        <div class="ms-2 d-inline-block">
                            <input type="text" class="form-control form-control-sm" aria-label="Search invoice">
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                    <thead>
                        <tr>
                            <th>Action ID</th>
                            <th>Date</th>
                            <th>Moderator</th>
                            <th>User Affected</th>
                            <th>Log message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in query_data %}
                        <tr>
                            <td>#{{ i.action_id }} </td>
                            <td>{{ i.time }}</td>
                            <td>
                                <img src="/static/images/flags/{{ i.u1_country|upper }}.png" class="profile-flag" style="width: 25px; height: 17px; -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.63); box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2);">⠀
                                <a href="/u/{{ i.u1_id }}">{{ i.u1_name }}</a>
                            </td>
                            <td>
                                <img src="/static/images/flags/{{ i.u2_country|upper }}.png" class="profile-flag" style="width: 25px; height: 17px; -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.63); box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2);">⠀
                                <a href="/u/{{ i.u2_id }}">{{ i.u2_name }}</a>
                            </td>
                            <td>{{ i.msg }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer d-flex align-items-center">
                <ul class="pagination m-0 m-auto">
                    <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="15 6 9 12 15 18"></polyline></svg>
                            prev
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li> 
                    <li class="page-item">
                        <a class="page-link" href="#">
                            next
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="9 6 15 12 9 18"></polyline></svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
