{% extends 'admin/base.html' %}
{% block title %}
Search Result
{% endblock title %}

{% block header %}
<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>
{% endblock %}


{% block content %}

<div id="app">
    <div class="container-xl">
        <div class="row g-3">
            <div class="col-3">
                <form action="" method="get">
                    <div class="subheader mb-2">Search</div>
                    <div class="input-icon mb-4">
                        <input type="text" class="form-control" v-model.trim="search" placeholder="Search players..."
                            @keyup="getSearchData">
                        <span class="input-icon-addon">
                            <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="10" cy="10" r="7"></circle>
                                <line x1="21" y1="21" x2="15" y2="15"></line>
                            </svg>
                        </span>
                    </div>
                    <div class="subheader mb-2">Category</div>
                    <div class="list-group list-group-transparent mb-3">
                        <a class="list-group-item list-group-item-action d-flex align-items-center active" href="#">
                            Users
                        </a>
                        <a class="list-group-item list-group-item-action d-flex align-items-center disabled" href="#">
                            Beatmaps
                        </a>
                    </div>
                </form>
            </div>
            <div :class="'col-9' + (load ? ' load' : '')" >
                <div class="row">
                    <div class="col-sm-6 col-lg-4 mb-2" v-for="d in result">
                        <div class="card card-sm">
                            <a href="#" class="d-block">
                                <img :src="`https://a.{{ domain() }}/${d.id}`"
                                    class="card-img-top banner-bg">
                            </a>
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <span class="avatar me-3 rounded"
                                        :style="`background-image: url(https://a.{{ domain() }}/${d.id})`"></span>
                                    <div>
                                        <div><% d.name %></div>
                                        <div class="text-muted"><% d.email %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    new Vue({
        el: "#app",
        delimiters: ["<%", "%>"],
        data() {
            return {
                search: '',
                result: [],
                load: false
            }
        },
        created() {
            this.getSearchData()
        },
        methods: {
            getSearchData() {
                this.load = true
                this.$axios.get(`/admin/api/search`, {
                    params: {
                        search: this.search,
                    }
                })
                    .then(res => {
                        this.load = false;
                        this.result = res.data;
                    });
            },
        },
        computed: {
        }
    });

</script>

{% endblock content %}