{% extends 'admin/base.html' %} 
{% block header %}
<style>
    .text-nowrap {
        white-space: nowrap;
    }
    .w-100 {
        width: 100%;
    }
    .ml-auto {
        margin-left: auto;
    }
    .gap-2 {
        gap: 0.5em;
    }
</style>
{% endblock %} 
{% block title %} Users {% endblock %} 

{% block content %} 
<form action="/admin/users/update/{{ search_data['id'] }}" method="POST" id="edit-user">
    <div style="display: flex; align-items: center; flex-direction: column;">
        <article style="width: 40%;" class="panel is-primary">
            <p class="panel-heading">
            {{t("admin.users.edit-info-of")}} {{ search_data['name'] }}
            </p>
            <div class="panel-block columns" style="height: 50px;">
                <div class="column is-one-quarter text-nowrap is-flex is-align-items-center gap-2">
                    <i class="fas fa-id-card" aria-hidden="true"></i>
                    {{t("admin.users.username")}}
                </div>
                <div class="column">
                    <input name="edit-username" type="text" class="input" value="{{ search_data.name }}">
                </div>
            </div>
            <div class="panel-block columns" style="height: 50px;">
                <div class="column is-one-quarter text-nowrap is-flex is-align-items-center gap-2">
                    <i class="fas fa-envelope" aria-hidden="true"></i>
                    {{t("admin.users.email")}}
                </div>
                <div class="column">
                    <input name="edit-email" type="text" class="input" value="{{ search_data.email }}">
                </div>
            </div>
            <div class="panel-block columns" style="height: 50px;">
                <div class="column is-one-quarter text-nowrap is-flex is-align-items-center gap-2">
                    <i class="fas fa-globe-americas" aria-hidden="true"></i>
                    {{t("admin.users.country")}}
                </div>
                <div class="column">
                    <input name="edit-country" type="text" class="input" value="{{ search_data.country }}">
                </div>
            </div>
            <div class="panel-block columns" style="height: 50px;">
                <div class="column is-one-quarter text-nowrap is-flex is-align-items-center gap-2">
                    <i class="fas fa-key" aria-hidden="true"></i>
                    Password
                </div>
                <div class="column">
                    <input name="password" type="text" class="input" placeholder="New Password">
                </div>
            </div>
            <div class="panel-block columns" style="height: 50px;">
                <div class="column is-one-quarter text-nowrap is-flex is-align-items-center gap-2">
                    <i class="fas fa-ban"  aria-hidden="true"></i>
                    {{t("admin.users.legality")}}
                </div>
                <div class="column">
                    <div class="select w-100">
                        <select name="legality" class="w-100">
                            <option value="unrestricted">{{t("admin.users.unrestricted")}}</option>
                            {% if search_data.priv == 2 %}
                            <option value="restricted" selected>{{t("admin.users.restricted")}}</option>
                            {% endif %}
                            {% if search_data.priv != 2 %}
                            <option value="restricted">{{t("admin.users.restricted")}}</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-block pb-4">
                <button type="submit" form="edit-user" style="margin-left: auto; margin-right: 1em; width: 100px;" class="button is-primary">{{t("admin.users.update")}}</button>
            </div>
        </article>
    </div>
</form>
{% endblock content %}