{% extends 'admin/base.html' %} 
{% block title %} Users {% endblock %} 

{% block content %} 

<form action="/admin/users/update/{{ search_data['id'] }}" method="POST" id="edit-user">
    <div style="display: flex; align-items: center; flex-direction: column;">
        <article style="width: 40%;" class="panel is-primary">
            <p class="panel-heading">
            Edit Info of {{ search_data['name'] }}
            </p>
            <div class="panel-block columns" style="height: 50px;">
                <div class="column is-one-quarter">
                    <i class="fas fa-user" aria-hidden="true"></i>
                    Username
                </div>
                <div class="column">
                    <input name="edit-username" type="text" class="input" value="{{ search_data.name }}">
                </div>
            </div>
            <div class="panel-block columns" style="height: 50px;">
                <div class="column is-one-quarter">
                    <i class="fas fa-user" aria-hidden="true"></i>
                    Email
                </div>
                <div class="column">
                    <input name="edit-email" type="text" class="input" value="{{ search_data.email }}">
                </div>
            </div>
            <div class="panel-block columns" style="height: 50px;">
                <div class="column is-one-quarter">
                    <i class="fas fa-user" aria-hidden="true"></i>
                    Country
                </div>
                <div class="column">
                    <input name="edit-country" type="text" class="input" value="{{ search_data.country }}">
                </div>
            </div>
            <div class="panel-block columns" style="height: 50px;">
                <div class="column is-one-quarter">
                    <i class="fas fa-user" aria-hidden="true"></i>
                    Legality
                </div>
                <div class="column">
                    <div class="select">
                        <select name="legality">
                            <option value="unrestricted">Unrestricted</option>
                            {% if search_data.priv == 2 %}
                            <option value="restricted" selected>Restricted</option>
                            {% endif %}
                            {% if search_data.priv != 2 %}
                            <option value="restricted">Restricted</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-block">
                <button type="submit" form="edit-user" style="margin: auto; width: 100px;" class="button is-primary">Update</button>
            </div>
        </article>
    </div>
</form>
{% endblock content %}