{% extends 'base.html' %}
{% block title %} Avatar {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/pages/settings/style.css">

<div class="main-block">
  {% include "settings/sidebar.html" %}
  <div class="block-content right" id="settings-content">
    <div class="single-right-block">
      <div class="right-block-header">
        Foto de perfil
      </div>
      <div class="right-block-content">
        <div class="flex avatar-flex">
          <div class="column">
            <div class="single-block-content avatar-block-content">
              <h4 class="mb-4">Foto de perfil</h4>
              <div class="subtitle">Nós recomendamos uma imagem de pelo menos 512x512 (ou aspecto 1:1).
                Você pode fazer um PNG ou JPG de no máximo 5MB.
              </div>
              <form id="upload-profile" action="/settings/avatar" method="post" enctype="multipart/form-data">
                <div class="buttons margin-top" id="selection">
                  <label class="file-label">
                    <input class="file-input" id="file" type="file" accept="image/jpeg" name="avatar">
                    <span class="file-cta">
                      <span class="file-label">
                        Escolher arquivo..
                      </span>
                      <span class="file-icon">
                        <i class="fa fa-upload"></i>
                      </span>
                    </span>
                  </label>
                  <button class="button is-primary" type="submit">
                    <span class="icon is-small"><i class="fas fa-check"></i></span><span>Salvar</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="column">
            <h4 class="mb-4">Pré-visualizar</h4>
            <div class="preview-block" id="avatar">
              <div class="top-block"></div>
              <div class="bottom-block">
                <div class="profile-avatar-area">
                  <img id="avatar-img" src="https://a.{{ domain() }}/{{ session.user_data['id']}}" alt="avatar"
                  class="rounded-avatar profile-avatar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.5/cropper.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.5/cropper.css" />
  <script>
    $("#file")
      .change(function (e) {
        var f = e.target.files;
        if (f.length < 1) {
          return;
        }
        var u = window.URL.createObjectURL(f[0]);
        var i = $("#avatar-img")[0];
        i.src = u;
        $('#avatar-img').attr('src', i.src)
      });
  </script>
</div>

{% if flash %}
<div class='noti-banner noti-banner-warning'>
  <div class="container">
    <div class="noti-column">
      <div class='noti-col noti-col-icon'></div>
      <div class='noti-col noti-col-label'>
        <div class='noti-bannertype'>
          {% if status=='error' %}
          Atenção
          {% elif status=='success' %}
          Aviso
          {% endif %}
        </div>
        <div class='noti-bannertext'>
          {% if status=='error' %}
          Opa! Tenha cuidado!
          {% elif status=='success' %}
          E aí? Saca só!
          {% endif %}
        </div>
      </div>
      <div class='noti-banner-text'>
        {{ flash }}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
