<html>

<head>
  <!-- title -->
  <title>{{ appName() }} - Settings - {% block title %}{% endblock %}</title>

  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>

  <!-- metadata -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#d55b9e">
  <link rel="shortcut icon" href="/static/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
  <meta name="theme-color" content="#000000">

  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"
    integrity="sha512-/DXTXr6nQodMUiq+IUJYCt2PPOUjrHJ9wFrqpJ3XkgPNOZVfMok7cRw6CSxyCQxXn6ozlESsSh1/sMCTF1rL/g=="
    crossorigin="anonymous"></script>

  <!-- bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/HakuraSukinoe/bulma-hsl/bulma.min-v7.css" />

  <!-- font awesome -->
  <script src="https://kit.fontawesome.com/e5971878b8.js" crossorigin="anonymous"></script>

  <!-- custom style -->
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

  <div class="modal" id="modaldisplayer">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="modaldata" id="contentmodal">
        <!-- waiting for user click about score -->
      </div>
    </div>
  </div>

  <!-- header -->
  <nav id="navbar" class="navbar is-primary">
    <div class="navbar-brand">
      <a class="navbar-item navbar-logo" href="/home">
        {{ appName() }}
      </a>

      <a role="button" class="navbar-burger" id="navbar-burger" onclick="togglenavbar()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/home">
          Home
        </a>

        <a class="navbar-item" href="/lb">
          Leaderboards
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Information
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/docs">
              Documentation
            </a>
            <a class="navbar-item" href="/doc/rules">
              Rules
            </a>
            <a class="navbar-item" href="/discord">
              Discord
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://github.com/Varkaria/guweb/issues/new">
              Report an issue
            </a>
          </div>
        </div>

        {% if session.authenticated and session.user_data['is_staff'] %}
        <a class="navbar-item" href="/admin">
          Admin
        </a>
        {% endif %}
      </div>

      <div class="navbar-end">
        {% if session.authenticated %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{ session.user_data['name'] }}
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/u/{{ session.user_data['id'] }}">
              Profile
            </a>
            <a class="navbar-item" href="/settings">
              Settings
            </a>
          </div>
        </div>
        <div class="navbar-item">
          <a class="button is-light" href="/logout">
            Logout
          </a>
        </div>
        {% else %}
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="/register">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="/login">
              Log in
            </a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    </div>
  </nav>

  <!-- content -->
  <div class="container my-con">
    {% block content %}
    {% endblock %}
  </div>

  <!-- footer -->
  <footer class="footer">
    <div class="content">
      <span>{{ appName() }} <strong>v{{ appVersion() }}</strong></span>
      <a class="foot-link" href="/github"><i class="fa fa-github"></i> GitHub</a>
      <a class="foot-link" href="/discord"><i class="fab fa-discord"></i> Discord</a>
      <a class="foot-link" href="/youtube"><i class="fab fa-youtube"></i> YouTube</a>
      <a class="foot-link" href="/twitter"><i class="fab fa-twitter"></i> Twitter</a>
      <a class="foot-link" href="/instagram"><i class="fab fa-instagram"></i> Instagram</a>
    </div>
  </footer>

  <!-- main js script -->
  <script src="/static/js/main.js" crossorigin="anonymous"></script>
</body>

</html>
