{% extends 'base.html' %}
{% block title %} {{ t('settings.password') }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/pages/settings/style.css">

<div class="main-block">
  {% include "settings/sidebar.html" %}
  <div class="block-content right" id="settings-content">
    <div id="general" class="single-right-block">
      <div class="right-block-header">
          {{ t('settings.password-change')}}
      </div>
      <form action="/settings/password" method="post" class="right-block-content">
        <div class="single-block-content">
          <div class="block-content--left">
            <div class="field-label is-normal">
              <label class="label">{{ t('settings.old-password')}}</label>
            </div>
          </div>
          <div class="block-content--right">
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" type="password" name="old_password">
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="single-block-content">
            <div class="block-content--left">
              <div class="field-label is-normal">
                <label class="label">{{ t('settings.new-password')}}</label>
              </div>
            </div>
            <div class="block-content--right">
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    <input class="input" type="password" name="new_password">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="single-block-content">
            <div class="block-content--left">
              <div class="field-label is-normal">
                <label class="label">{{ t('settings.repeat-password')}}</label>
              </div>
            </div>
            <div class="block-content--right">
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    <input class="input" type="password" name="repeat_password">
                  </p>
                </div>
              </div>
            </div>
          </div>
        <button class='button is-primary' type='submit'><span>Save</span><span class='icon is-small'><i class='fas fa-check'></i></span></button>
        </form>
    </div>
  </div>
</div>

{% if flash %}
<div class='noti-banner noti-banner-warning'>
  <div class="container">
    <div class="noti-column">
      <div class='noti-col noti-col-icon'></div>
      <div class='noti-col noti-col-label'>
        <div class='noti-bannertype'>
          {% if status=='error' %}
            {{ t('global.warning') }}
          {% elif status=='success' %}
            {{ t('global.notice') }}
          {% endif %}
        </div>
        <div class='noti-bannertext'>
          {% if status=='error' %}
          {{ t('global.uh-oh-be-careful') }}
          {% elif status=='success' %}
            {{ t('global.hey-listen')}}
          {% endif %}
        </div>
      </div>
      <div class='noti-banner-text'>
        {{ flash }}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
