{% extends 'base.html' %}
{% block title %} Password {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/pages/settings/style.css">

<div class="main-block">
  {% include "settings/sidebar.html" %}
  <div class="block-content right" id="settings-content">
    <div id="general" class="single-right-block">
      <div class="right-block-header">
        Password Change
      </div>
      <form action="/settings/password" method="post" class="right-block-content">
        <div class="single-block-content">
          <div class="block-content--left">
            <div class="field-label is-normal">
              <label class="label">Old Password</label>
            </div>
          </div>
          <div class="block-content--right">
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" type="password" name="old_password">
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="single-block-content">
            <div class="block-content--left">
              <div class="field-label is-normal">
                <label class="label">New Password</label>
              </div>
            </div>
            <div class="block-content--right">
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    <input class="input" type="password" name="new_password">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="single-block-content">
            <div class="block-content--left">
              <div class="field-label is-normal">
                <label class="label">Repeat Password</label>
              </div>
            </div>
            <div class="block-content--right">
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    <input class="input" type="password" name="repeat_password">
                  </p>
                </div>
              </div>
            </div>
          </div>
        <button class='button is-primary' type='submit'><span>Save</span><span class='icon is-small'><i class='fas fa-check'></i></span></button>
        </form>
    </div>
  </div>
</div>

{% if flash %}
<div class='noti-banner noti-banner-warning'>
  <div class="container">
    <div class="noti-column">
      <div class='noti-col noti-col-icon'></div>
      <div class='noti-col noti-col-label'>
        <div class='noti-bannertype'>
          {% if status=='error' %}
          Warning
          {% elif status=='success' %}
          Notice
          {% endif %}
        </div>
        <div class='noti-bannertext'>
          {% if status=='error' %}
          Uh oh! Be careful!
          {% elif status=='success' %}
          Hey! Listen!
          {% endif %}
        </div>
      </div>
      <div class='noti-banner-text'>
        {{ flash }}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
