<div class="block-content left">
    <div class="left-header">
        <a href="/u/{{ session.user_data['id'] }}" class="user-avatar-header user-avatar"
            style="background-image: url(https://a.{{ domain() }}/{{ session.user_data['id']}}?{{ get_img_subn() }});"></a>
        <div class="welcome-text">
            <span class="username pink-bold">{{ session.user_data['name']}}</span>
            <span class="welcome">Configurações</span>
        </div>
    </div>
    <div class="left-selector">
        <a class="single-menu single-menu--active router-link" href="/settings/profile">
            <i class="fas fa-user"></i><span class="single-menu--text"> Perfil </span>
        </a>
        <a class="single-menu single-menu--active router-link" href="/settings/avatar">
            <i class="fas fa-brush"></i><span class="single-menu--text"> Foto de Perfil </span>
        </a>
        <a class="single-menu single-menu--active router-link" href="/settings/password">
            <i class="fas fa-lock"></i><span class="single-menu--text"> Senha </span>
        </a>
        <a class="single-menu single-menu--active router-link" href="/settings/custom">
            <i class="fas fa-air-freshener"></i><span class="single-menu--text"> Customização </span>
        </a>
    </div>
</div>
