.admin-con {
    margin-top: 53px!important
}

.sidebar {
    background: hsl(var(--main), 10%, 15%);
    width: 230px;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-position: 50%;
    display: block;
    transition: .5s cubic-bezier(.685, .0473, .346, 1);
}

.sidebar .sidebar-wrapper {
    width: 100%;
    min-height: 100%;
    max-height: calc(100vh - 705px);
    z-index: 4;
    position: relative;
    overflow: auto;
}

.sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-normal {
    margin: 0;
    position: relative;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    white-space: nowrap;
    display: block;
    line-height: 23px;
    z-index: 1;
    color: hsla(0, 0%, 100%, .8)
}

.sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a i {
    font-size: 17px;
    line-height: 20px;
    width: 26px
}

.sidebar .sidebar-wrapper [data-toggle=collapse]~div>ul>li:hover>a .sidebar-normal {
    color: #fff
}

.sidebar .nav {
    margin-top: 20px;
    display: block;
    margin-left: 0
}

.sidebar .nav li>a+div .nav {
    margin-top: 5px
}

.sidebar .nav li>a+div .nav li>a {
    margin-top: 0;
    padding: 8px 8px
}

.sidebar .nav li>a {
    margin: 10px 15px 0;
    border-radius: 10px;
    color: #fff;
    display: block;
    position: relative;
    cursor: pointer;
    padding: 10px 15px;
    line-height: 1.625rem;
    text-align: left
}

.sidebar .nav li:first-child>a {
    margin: 0 15px
}

.sidebar .nav li:focus:not(.active)>a i, .sidebar .nav li:focus:not(.active)>a p, .sidebar .nav li:hover:not(.active)>a i, .sidebar .nav li:hover:not(.active)>a p {
    color: #fff
}

.sidebar .nav li>a:hover {
    background: #ff939314;
    transform: translateY(-2px)
}

.sidebar .nav p {
    margin: 0;
    font-weight: 600;
    color: hsla(0, 0%, 100%, .8);
    line-height: 30px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap
}

.sidebar .nav i {
    font-size: 20px;
    float: left;
    margin-right: 12px;
    line-height: 30px;
    width: 34px;
    text-align: center;
    color: hsla(0, 0%, 100%, .8);
    position: relative
}

.sidebar .logo {
    position: relative;
    padding: .5rem .7rem;
    z-index: 4;
    background: hsl(var(--main),37%,50%);
}

.sidebar .logo a.logo-normal {
    display: block;
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.sidebar .logo p {
    float: left;
    font-size: 20px;
    margin: 10px 10px;
    color: #fff;
    line-height: 20px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.sidebar .logo .simple-text {
    text-transform: uppercase;
    padding: .5rem 0;
    display: block;
    white-space: nowrap;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    line-height: 30px;
    overflow: hidden;
    text-align: center
}

.sidebar .user {
    padding-bottom: 20px;
    margin: 20px auto 0;
    position: relative
}

.sidebar .user:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background: hsla(0, 0%, 100%, .5)
}

.sidebar .user a {
    color: #fff;
    text-decoration: none;
    padding: .5rem 15px;
    white-space: nowrap
}

.footer {
    margin-top: 0
}

.content:not(:last-child) {
    margin: 0
}

.admin-con {
    flex-grow: 1
}

.columns {
    margin-top: 53px
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.nav-link .icon {
    font-size: 16px;
    padding-right: 18px
}

.nav-link .name {
    font-size: 14px;
    font-weight: 500
}

.column {
    padding: 24px 26px
}

.content h2 {
    margin-bottom: .2em
}

.section-lead {
    color: #b5b5b5
}

.section {
    padding: 1rem 0
}

.is-avatar {
    width: 5%;
    flex: inherit;
    margin-right: 20px;
    border-radius: 12px
}

.header-avatar {
    border-radius: 12px
}

.card {
    border-radius: 8px;
    color: #fff;
    padding: 10px;
    position: relative;
    border: 0;
    background: hsl(var(--main),15%,25%);
}

.card .stat {
    border-top: 1px solid rgba(255, 255, 255, .3);
    font-size: 8px;
    margin-top: 6px;
    padding: 10px 10px 0;
    text-transform: uppercase
}

.card .title {
    display: inline-block;
    font-size: 8px;
    padding: 10px 10px 0;
    text-transform: uppercase
}

.card .value {
    font-size: 28px;
    padding: 0 10px
}

.recent-beat {
    margin-top: 20px
}

.recent-beat .section-title {
    font-size: 20px
}

.title:not(:last-child) {
    margin-bottom: 0
}

.user-block {
    transition: .2s ease
}

.user-block {
    display: flex;
    border-radius: 8px;
    padding: 12px;
    font-weight: 700;
    line-height: 1.3;
    align-items: center;
    overflow: hidden;
    height: 76px;
    margin-top: 8px
}

.user-block {
    background-color: #413030;
    color: #fff
}

.user-block:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, .04), 0 4px 8px rgba(0, 0, 0, .04), 0 16px 24px rgba(0, 0, 0, .04), 0 24px 32px rgba(0, 0, 0, .04);
    color: #fff;
    transform: translateY(-5px)
}

.avatar-picture {
    width: 58px;
    border-radius: 6px;
    margin-right: 8px
}

.profile-flag {
    width: 18px
}

.unverified {
    background: #3c3c3c
}

.unverified .target-button {
    background: #4c4a4a!important
}

.user-artist, .user-mapper, .user-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12
}

.user-artist {
    font-size: 11px;
    font-weight: 500
}

.user-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    white-space: nowrap
}

.user-footer .target-button {
    background-color: #5d4343;
    border-radius: 6px;
    padding: 4.5px 7px;
    font-size: 12px;
    margin-left: 10px;
    transition: .2s background-color;
    color: #ff679b
}

.user-stats {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0
}

.user-link {
    width: 400px;
    overflow: hidden
}

span.user-mapper {
    padding-right: 8px
}

.d-flex.align-items-baseline {
    display: flex
}

.extra-block {
    width: 100%;
    display: flex;
    justify-content: center
}

.map-single {
    height: 76px;
    min-width: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 0;
    margin: 8px 0 0 0;
    padding: 8px;
    border-radius: 8px;
    overflow: hidden;
    background: #413030;
    transition: .2s ease;
    cursor: pointer
}

.map-single:hover {
    border-radius: 8px;
    transform: translateY(-5px);
    box-shadow: 0 0 1px rgba(0, 0, 0, .04), 0 4px 8px rgba(0, 0, 0, .04), 0 16px 24px rgba(0, 0, 0, .04), 0 24px 32px rgba(0, 0, 0, .04)
}

.map-content1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    min-width: 0;
    flex: 1
}

.map-title {
    font-size: 14px;
    display: flex;
    font-weight: 500;
    align-items: center;
    white-space: nowrap
}

.map-title-block {
    display: flex;
    flex-direction: column;
    line-height: 1;
    margin-left: 6px;
    min-width: 0;
    padding-right: 12px;
    flex: 2
}

.map-date {
    font-size: 10px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

.map-date>time {
    margin-top: 2px
}

.map-content2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    align-items: flex-end;
    justify-content: center
}

.map-pp {
    font-weight: 700;
    color: #cc5288;
    font-size: 20px
}

.map-acc {
    font-size: 12px;
    display: flex;
    justify-content: flex-end
}

.main-stats {
    display: flex;
    flex-direction: column;
    color: #fff;
    height: 100%;
    justify-content: space-between
}

.rank-single {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1
}

.rank-block {
    margin: auto 0
}

.score-details_right-block {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
    min-width: 140px;
    justify-content: center;
    padding-right: 14px;
    padding-left: 20px;
    position: relative;
    border-radius: 0 10px 10px 0;
    z-index: 0;
    margin-left: 6px;
    align-items: center
}

.score-details_pp-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    justify-content: center;
    position: relative;
    border-radius: 0 10px 10px 0;
    z-index: 0;
    margin-left: 6px;
    margin-right: 12px
}

.score-details {
    height: 100%;
    align-items: flex-end
}

.score-details_grade-block .rank-single {
    margin: 0
}

.score-details_grade-block .map-rank {
    font-size: 32px
}

.map-image-picture {
    width: 64px;
    height: 45px;
    border-radius: 6px;
    object-fit: cover
}
