.main-block {
    height: auto;
    width: auto;
    max-width: 1152px;
    color: #fff;
    background-color: unset;
}

.http-error {
    padding: 0 32px;
    margin: 32px 0;
}

.title-block {
    height: auto;
    width: auto;
    padding: 38px 22px 10px 22px;
    background-color: #5540BF;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.error-title {
    font-size: 1.7em;
    font-weight: 500;
}

.error-block {
    padding: 22px;
}

.error-subtitle {
    font-size: 1.5em;
    font-weight: 500;
}

ol {
    padding: 0px 0px 10px 20px;
}

li {
    list-style-type: none;
}

@media screen and (max-width: 500px) {
    .http-error {
        padding: 0 16px;
        margin: 16px 0;
    }
}
