html,
body {
  min-height: 100vh;
}
.container,
#app,
.main-banner {
  height: fit-content;
}

:root {
  --cool-border: 1px solid rgba(255, 255, 255, 0.4);
}

.main-banner {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  padding: 0;
  position: relative;
  overflow-y: auto;
}

.main-block {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.not-exist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;

  background: linear-gradient(
    45deg,
    rgb(145, 92, 92) 0%,
    rgb(172, 33, 33) 100%
  );
  font-size: 3em;
  width: 100%;
}
.not-exist-desc {
  font-size: 0.5em;
}

.image-banner {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 100%;
  height: 60vh;
}

.banner-overlay {
  backdrop-filter: blur(0.1rem);
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 1) 0%,
    rgba(20, 20, 20, 0.2) 50%,
    rgba(20, 20, 20, 1) 100%
  );

  display: flex;
  flex-direction: row;

  gap: 0.25rem;

  position: absolute;

  width: 100%;
  height: 100%;
  z-index: 10;

  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  padding: 1rem;
}

.banner-overlay > section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.map-metadata {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.map-title {
  font-size: 3em;
}

.map-creator {
  color: rgb(206, 206, 206);
  margin-top: auto;
}



.music-author,.map-diff {
  font-size: 1.5em;
}

.map-parameters {
  
  font-size: 1.25em;
}

.map-buttons {
  display: flex;
  gap: 1rem;

  margin-top: 2rem;
  margin-bottom: 1rem;
}

.map-button {
  background-color: rgb(50, 50, 50);
  border-radius: 0.5rem;
  color: white;
  padding: 1rem;
  border: none;

  outline: 1px transparent;

  transition: outline 75ms;
}
.map-button:hover:enabled {
  cursor: pointer;
  outline: var(--cool-border);
}
.map-button.ranked {
  background-color: rgb(13, 160, 50);
}
.map-button.loved {
  background-color: rgb(186 36 128);
}

.diff-container {
  text-align: left;
  margin-left: auto;

  display: flex;
  flex-direction: column;

  width: fit-content;

  overflow-y: auto;

  margin: 1rem;

  padding: 1rem;
  gap: 0.5rem;
}

.diff {
  width: fit-content;
  border-radius: 0.5rem;
  width: 100%;
}

.star-rating {
  color: rgb(255, 213, 98);
  transition: color 75ms;
  font-size: 1.1em;
}

.diff-button {
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;

  transition: background-color 75ms, color 75ms;
}
.diff-button:hover,
.diff-button.selected {
  background-color: white;
  color: black;
  cursor: pointer;
}
.diff-button:hover > .star-rating,
.diff-button.selected > .star-rating {
  color: rgb(159 126 33);
}

.modes-container {
  display: flex;
  margin-top: auto;

  justify-content: space-evenly;
}
.modes-button > .mode-icon {
  font-size: 2em;
  cursor: pointer;
}
.modes-button > .mode-icon::before {
  transition: color 75ms;
}
.modes-button > .mode-icon:hover::before,
.modes-button > .mode-icon.selected::before {
  color: rgb(42, 211, 253);
}

/* Scores */
.main-block {
  /* border: var(--cool-border); */
  background-color: rgb(20, 20, 20);
}
.scores-tab {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  padding: 2rem;
  text-align: center;
  font-size: 2em;
}

.scores-container {
  display: grid;
  grid-template-columns: 5rem 1fr 4rem 8rem 6rem 7rem 7rem 1fr 10rem;
  background-color: rgb(10, 10, 10);

  font-size: 0.5em;
  /* border: var(--cool-border); */
}
.scores-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.score-combo.max-combo {
  color: rgb(166 237 182);
}

.extra-modes {
  display: flex;
  justify-content: center;
  font-size: 0.5em;
  gap: 2rem;
}

.extra-modes-button {
  background: none;
  outline: none;
  border: none;
  color: white;
  transition: color 75ms;
}
.extra-modes-button:enabled:hover,
.extra-modes-button.selected {
  color: rgb(42, 211, 253);
  cursor: pointer;
}
.extra-modes-button:disabled {
  color: rgb(255, 255, 255, 0.5);
}

.sortable-down {
  background-color: rgba(255, 255, 255, 0.075);
  cursor: pointer;
  transition: color 75ms;
}
.sortable-down.selected {
  cursor: default;
}
.sortable-down.selected,
.sortable-down:hover {
  background-color: rgba(255, 255, 255, 0.17);
}
.sortable-down.selected:after {
  content: "";
  display: inline-block;

  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid white;
  /* background-color: white; */
  /* margin-left: 0.25rem;
  width: 10px;
  height: 10px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%; */
}
