.connect-to-osu-wrapper {
    background: #24222A;
    padding: 32px;
    border-radius: 32px;
    font-weight: 100;
}

.highlighted-txt {
    display: block;
    padding-left: 12px;
    border-left: 4px solid #dfd7d7;
    font-weight: 700;
}

ol li {
    margin: 3px 0;
}

code {
    border-radius: 6px;
    background: aliceblue;
    font-weight: 700;
    color: darkmagenta;
}

@media screen and (max-width: 800px) {
    .connect-to-osu-main {
        margin-left: 12px !important;
        margin-right: 12px !important;
        margin-bottom: 12px;
    }
}

.connect-to-osu-main ol {
    margin: 20px 0 20px 32px;
}

.padding-bot-12 {
    margin-bottom: 12px;
}
