/* gulag mascot/avatar */

.home-main {
  background: #211b1f;
  margin-bottom: 36px;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 32px;
  height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.home-main .empty-space {
  height: 42px;
}

@media screen and (max-width: 768px) {
  .home-main {
    height: fit-content;
  }

  .video-container {
    display: none !important;
  }

  .content-container {
    width: 100% !important;
  }

  .status {
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 568px) {
  .container.content {
    padding: 0;
  }
  .home-main {
    border-radius: 0;
    width: 100vw;
    position: relative;
  }
}

.home-main > .video-container, .home-main > .content-container {
  display: inline-block;
}

.video-container {
  width: 30%;
  -webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
.video-container video {
  width: calc(100% + 64px);
  position: relative;
  transform: translateX(-42px);
  max-width: unset;
}

.content-container {
  width: 60%;
}

.status {
  padding: 5px 16px;
  margin: 16px 0;
  background: rgba(0, 0, 0, .6);
  width: fit-content;
  border-radius: 32px;
  font-size: .92rem;
}

.divide {
  margin: 0 6px;
  display: inline-block;
  transform: translateY(2px);
  height: 14px;
  width: 2px;
  background: rgb(129 97 137 / 32%);
  border-radius: 12px;
}

.online-users .count {
  color: #68d57f;
  font-size: 1rem;
}

.total-users .count {
  color: #4287f5;
  font-size: 1rem;
}

.server-name {
  margin: 24px 0 12px 0;
  font-size: 3.2rem;
  font-family: Jua;
}

.actions {
  margin: 32px 0 0 0;
}

.actions .register {
  display: inline-block;
  padding: 8px 16px;
  background-color: hsl(var(--main), 45%, 45%);
  color: white;
  border-radius: 10px;
}
.actions .register:hover {
  background-color: hsl(var(--main), 55%, 55%);
}

.actions .login {
  margin-left: 16px;
  padding: 9px 16px;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 10px;
  color: white;
}
.actions .login:hover {
  border: 2px solid hsl(var(--main), 55%, 55%);
  color: hsl(var(--main), 55%, 55%);
}
