.main-block {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.second-block {
  background: hsl(var(--main), 12%, 15%);
}

.stats-block {
  width: 100%;
  background: hsl(var(--main), 25%, 25%);
  padding: 9.5px;
  margin-bottom: 9.5px !important;
}

.profile-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-bg {
  min-height: 262px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background: hsl(var(--main), 30%, 50%);
  position: relative;
  overflow: hidden;
}

.profile-avatar {
  width: 185px;
  height: 185px;
  margin-top: -5.5rem;
  border-radius: 16px;
  object-fit: cover;
  transition: 0.2s ease;
}

.profile-stats-rank {
  width: 20px;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 250px;
  width: 100%;
  transition: 0.2s ease;
}

.bar-selection {
  width: 100%;
  height: 60px;
  padding: 10px 10px 10px 250px;
  display: flex;
  align-items: center;
  transition: 0.2s ease;
}

.profile-avatar-area {
  padding: 0 0 0 45px;
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
}

.simple-banner-switch {
  color: #fff !important;
  text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 16px;
  margin: 0 24px 0 0;
  font-weight: 425;
  opacity: 0.7;
}

.simple-banner-switch.selected {
  font-weight: 500;
  opacity: 1;
  pointer-events: none;
}

.simple-banner-switch.disabled {
  opacity: 0.4;
  pointer-events: none;
  text-decoration: none;
}

.mode-selects {
  background: hsl(var(--main), 25%, 22%);
}

.badge-selects {
  background: hsl(var(--main), 16%, 20%);
}

.select-left {
  display: flex;
  flex-direction: row;
}

.select-right {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.profile-flag {
  height: 24px;
  margin-right: 6px;
}

.is-striped {
  width: 100%;
}

.right-aligned {
  text-align: right !important;
  margin-left: auto;
  font-weight: 500;
}

tbody {
  width: 100%;
}

tr {
  display: flex;
  padding: 8px;
}

td {
  display: flex;
  align-items: center;
}

.rank-block td {
  font-size: 16px;
  font-weight: 500;
}

.rank-block .right-aligned {
  font-size: 26px;
  font-weight: 600;
}

.grade-block {
  padding: 10px;
  display: block;
  margin-top: 8px;
}
.grade-block .media-content { overflow-x: unset !important; }
.map-rank {
  font-size: 24px;
  font-weight: 600;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
  border-radius: 20px;
}

.grade-line {
  display: flex;
  justify-content: center;
}

.rank-single {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  margin: -2px 8px;
}

.rank-block {
  margin: auto 0;
}

.rank-amount {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 700;
}

.chart {
  width: 100px;
  height: 100px;
}

figure.media-left {
  margin: 0;
}

html {
  -progress: 100%;
}

.level-bar {
  background: #413030;
  overflow: hidden;
}

.level-num {
  background: #413030;
}

.progress-level {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  background: hsl(var(
  --main), 30%, 50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.column.level-num.is-one-fifth.is-textcen {
  font-size: 20px;
  padding: 5px;
  font-weight: 500;
  background: hsl(var(--main), 30%, 38%);
}

.column.is-1,
.column.is-1-tablet {
  flex: none;
  width: inherit;
}

.column.is-one-third,
.column.is-one-third-tablet {
  width: 26%;
}

.is-textcen {
  text-align: center;
}

.header {
  padding: 10px 10px;
  background: hsl(var(--main), 30%, 50%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.header .title {
  font-size: 18px;
}

.scores {
  background: content-box;
  transition: 0.2s transform ease;
  background: hsl(var(--main), 20%, 20%);
  padding: 6px;
}

.map-single {
  height: 72px;
  min-width: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 0;
  margin: 8px 0;
  justify-content: space-between;
  overflow: hidden;
  background: hsl(var(--main), 25%, 25%);
  transition: 0.2s ease;
  cursor: pointer;
}

.map-data {
  height: 72px;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 0;
  margin: 8px 0;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s ease;
  cursor: pointer;
}

.map-single:hover {
  border-radius: 8px;
  transform: translateY(-1px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04),
    0 16px 24px rgba(0, 0, 0, 0.04), 0 24px 32px rgba(0, 0, 0, 0.04);
  background: hsl(var(--main), 30%, 30%);
}

.map-single:first-child {
  margin-top: 0;
}

.map-content1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  min-width: 0;
  overflow: hidden;
  flex: 1;
}

.map-title {
  font-size: 14px;
  display: flow-root;
  font-weight: 500;
  width: 75px;
  align-items: center;
  white-space: nowrap;
}

.map-title-block {
  display: flex;
  flex-direction: column;
  line-height: 1;
  margin-left: 6px;
  min-width: 0;
  padding-right: 12px;
  flex: 2;
}

.map-date {
  font-size: 10px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.map-date > time {
  margin-top: 2px;
}

.map-mod {
  color: #cc5288;
  font-size: 16px;
  font-weight: 600;
  margin-left: 6px;
  margin-bottom: 2px;
}

.map-content2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  align-items: flex-end;
  justify-content: center;
}

.map-pp {
  font-weight: 700;
  color: hsl(var(--main), 30%, 55%);
  font-size: 20px;
}

.map-acc {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}

.main-stats {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 100%;
  justify-content: space-between;
}

.rank-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rank-single {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}

.rank-block {
  margin: auto 0;
}

.rank-amount {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 700;
}

.score-details_right-block {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
  min-width: 140px;
  justify-content: center;
  padding-right: 14px;
  padding-left: 20px;
  position: relative;
  border-radius: 0 10px 10px 0;
  z-index: 0;
  margin-left: 6px;
  align-items: center;
}

.score-details_pp-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  justify-content: center;
  position: relative;
  border-radius: 0 10px 10px 0;
  z-index: 0;
  margin-left: 6px;
}

.score-details {
  height: 100%;
  align-items: flex-end;
}

.score-details_grade-block .rank-single {
  margin: 0;
}

.score-details_grade-block .map-rank {
  font-size: 32px;
}

.map-image-picture {
  width: 64px;
  height: 45px;
  border-radius: 6px;
  object-fit: cover;
}

.map-image {
  padding-left: 12px;
}

.beatmaps {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(399px, 312px));
  background: hsl(var(--main), 20%, 20%);
  padding: 6px 6px 12px 6px;
}

.beatmap-block {
  transition: 0.2s ease;
}

.beatmap-block {
  display: flex;
  padding: 8px;
  font-weight: 700;
  line-height: 1.3;
  align-items: center;
  overflow: hidden;
  height: 72px;
  width: 100%;
}

.beatmap-block {
  background-color: hsl(var(--main), 25%, 25%);
  color: #fff;
}

.beatmap-block:hover {
  background-color: hsl(var(--main), 25%, 30%);
  transform: scale(1.01);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04),
    0 16px 24px rgba(0, 0, 0, 0.04), 0 24px 32px rgba(0, 0, 0, 0.04);
  color: #fff;
}

.beatmap-artist,
.beatmap-mapper,
.beatmap-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12;
}

.beatmap-artist {
  font-size: 11px;
  font-weight: 500;
}

.beatmap-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
}

.beatmap-footer .target-button {
  background-color: hsl(var(--main), 25%, 30%);
  border-radius: 6px;
  padding: 4.5px 7px;
  font-size: 12px;
  margin-left: 10px;
  transition: 0.2s background-color;
  color: hsl(var(--main), 65%, 75%);
}

.beatmap-preview {
  width: 75px;
  height: 58px;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}

.beatmap-stats {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.beatmap-link {
  width: 400px;
  overflow: hidden;
}

span.beatmap-mapper {
  padding-right: 8px;
}

.d-flex.align-items-baseline {
  display: flex;
}

.extra-block {
  width: 100%;
  display: flex;
  justify-content: center;
  background: hsl(var(--main), 20%, 20%);
}

.show-button {
  padding: 3px 42px;
  background: hsl(var(--main), 25%, 25%);
  margin: 0px 8px 8px 8px;
  text-align: center;
}

.show-button:hover {
  transform: scale(0.95);
}

.anime-girl {
  position: absolute;
  transition: 0.2s ease;
  right: 50px;
  width: 500px;
  top: -150px;
  right: -30px;
}

.mods-fulltext {
  display: block;
}

.mods-shorttext {
  display: none;
}

@media screen and (max-width: 1255px) {
  .two-sides {
    display: contents !important;
  }
  p.ranks { width: 360px; }
  .column.is-one-third,
  .column.is-one-third-tablet {
    flex: none;
    width: 100%;
  }
  .columns.is-marginless.is-2 {
    display: none;
  }
  .profile-bg {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .beatmaps {
    grid-template-columns: inherit;
  }
  .beatmap-block {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .bar-selection {
    padding: 10px 13px 10px 45px;
  }
  .anime-girl {
    opacity: 0;
  }
  .profile-avatar {
    width: 140px;
    height: 140px;
    margin-top: -10rem;
    border-radius: 15px;
    object-fit: cover;
  }
  .info-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 200px;
    width: 100%;
  }
}

@media screen and (max-width: 770px) {
  .mode-text {
    display: none;
  }
  .mods-shorttext {
    display: block;
  }
  .mods-fulltext {
    display: none;
  }
  .simple-banner-switch {
    padding: 6px 10px;
    border-radius: 3px;
    background: #0000008c;
    margin: 0 12px 0 0;
    font-size: 12px;
  }
  .mode-icon {
    margin-right: 0px;
  }
}

@media screen and (max-width: 600px) {
  .subtitle {
    width: 200px;
  }
  .title {
    width: inherit;
  }
  .info-block {
    padding: 10px 110px 50px 195px;
  }
}
@media screen and (max-width: 550px) {
  p.ranks {
      width: 235px;
  }
}
@media screen and (max-width: 450px) {
  p.ranks {
    width: 145px;
  }
  .info-block {
    padding: 10 200;
  }
}

.online-infomation {
  position: absolute;
  top: 18px;
  left: 42px;
  padding: 8px 15px;
  background: #00000040;
  border-radius: 6px;
}

.circle {
  font-size: 20px;
  color: #cecece;
}

.green {
  color: #8dc36b;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.pop-enter-active, .pop-leave-active {
  transition: all .5s ease;
}
.pop-enter, .pop-leave-to {
  transform: scale(0.8);
}
.log-block {
  transition: 0.2s ease;
  margin-bottom: 12px;
}
