.main-block {
    width: 420px;
    max-width: 94%;
    margin: 42px auto;
}

.mail-field {
    margin: 6px 0 32px 0;
}

.field button[type=submit] {
    margin: 6px 0;
}

#regtitle {
    height: 52px;
    display: flex;
    align-items: center;
    place-content: center;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .main-block {
        width: 100%;
    }
}
