.role-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 32px;
    /*padding-left: 12px;*/
    /*border-left: .25rem solid whitesmoke;*/
}

.people {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.teammate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 0 32px;
    cursor: pointer;
}

.teammate img {
    width: 192px;
    border-radius: 50%;
}

.teammate .player-name {
    display: block;
    width: fit-content;
    margin: 12px 0 32px 0;
    font-size: 1.4rem;
}
