{% extends "base.html" %}
{% block title %} 404 {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/404.css?v={{ version() }}">
<style>html {--main: 355;}</style>
{% endblock %}

{% block content %}
<div class="main-block">
	<div class="title-block">
		<span>{{ t('404.404') }}</span>
		<h2 class="error-title">
            {{ t('404.page-not-found') }}
		</h2>
	</div>
	<div class="error-block">
		<h3 class="error-subtitle">{{ t('404.where-am-i') }}</h3>
		<ol>
			<li>- {{ t('404.check-url') }}</li>
			<li>- {{ t('404.make-sure-visit') }}</li>
			<li></li>
		</ol>
	</div>
</div>
{% endblock %}
