{% extends "base.html" %}
{% block title %} 404 {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/404.css">
<style>html {--main: 355;}</style>
{% endblock %}

{% block content %}
<div class="main-block">
	<div class="title-block">
		<span>404</span>
		<h2 class="error-title">
			Page not found
		</h2>
	</div>
	<div class="error-block">
		<h3 class="error-subtitle">Where am I?</h3>
		<ol>
			<li>- Check that the URL you entered is correct.</li>
			<li>- Make sure that the place you are visiting isn't under maintenance!</li>
			<li></li>
		</ol>
	</div>
</div>
{% endblock %}
