<html>

<head>
  <!-- injection check -->
  <script src="/static/js/_runtime-check.js"></script>
  <!-- Title -->
  <title>{{ appName() }} - {% block title %}{% endblock %}</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#d55b9e">
  <link rel="shortcut icon" href="/static/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
  <meta name="theme-color" content="#000000">

  <!-- Metadata -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- JQuery -->
  <script src="/static/js/assets/jquery-min.js"></script>

  <!-- Bulma -->
  <link rel="stylesheet" href="/static/css/bulma.css?v={{ appVersion() }} " />


  <!-- Font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

  <!-- Custom style -->
  <link rel="stylesheet" href="/static/css/style.css?v={{ appVersion() }} ">

  {% block header %}
  {% endblock %}
</head>

<body>
  <!-- Header -->
  {% include 'components/navbar.html' %}

  <!-- Content -->
  <div class="container is-fullhd my-con">
    {% block content %}
    {% endblock %}
  </div>

  <!-- Footer -->
  {% include 'components/footer.html' %}

  <!-- Main JS script -->
  <script src="/static/js/main.js?v={{ appVersion() }} " crossorigin="anonymous"></script>

  <!-- Customisation -->
  {% block bottom %}{% endblock %}
</body>

</html>