{% extends 'base.html' %} {% block title %} Beatmap {{ bmsId }} {% endblock %}
{% block header %}
<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>
<script src="/static/js/asserts/day-js/dayjs.min.js"></script>
<script src="/static/js/asserts/day-js/locale/pt-br.js"></script>
<script src="/static/js/asserts/day-js/plugin/relativeTime.js"></script>
<script src="/static/js/asserts/day-js/plugin/utc.js"></script>

<!-- <meta http-equiv="refresh" content="1"> -->
<script>
  let bmsId = "{{ bmsId }}";
  let mode = "{{ mode }}";
  let bmId = "{{ bmId }}";
  let extraMode = "{{ extraMode }}";
  let domain = "{{ domain() }}";
  let beatmapDownloadMirror = "{{ beatmap_download_mirror() }}"
  dayjs.extend(window.dayjs_plugin_relativeTime)
  dayjs.extend(window.dayjs_plugin_utc)
  dayjs.locale("pt-br")
</script>

<link rel="stylesheet" href="/static/css/pages/leaderboard.css" />
<link rel="stylesheet" href="/static/css/pages/beatmapset.css" />

{% endblock %} {% block content %}

<div id="app" :class="">
  <div class="main-banner">
    <div v-if="(error === true)" class="not-exist">
      Mapa não encontrado
      <span class="not-exist-desc"
        >Verifique se digitou corretamente o id do mapa no URL.</span
      >
    </div>
    <template v-else>
      <div class="banner-overlay">
        <section>
          <div class="map-metadata">
            <span class="map-title">
              <% currentMap?.title %>
            </span>
            <span class="map-diff">
              [<% currentMap?.version %>]
            </span>
            <span class="music-author"><% currentMap?.artist %></span>

           

            <span class="map-creator">
              Criado por <b><% currentMap?.creator %></b>
            </span>
            <div class="map-parameters">
              AR: <% currentMap?.ar %> HP: <% currentMap?.hp %> OD: <%
              currentMap?.od %> CS: <% currentMap?.cs %>
            </div>

            <div class="map-buttons">
              <button
                class="map-button"
                @click="window.open(`https://${beatmapDownloadMirror}/${currentMap?.set_id}`)"
              >
                Baixar
              </button>
              <a :href="'osu://b/' + currentMap?.id">
                <button class="map-button">Baixar pelo Direct</button>
              </a>

              <button
                class="map-button"
                v-if="currentMap?.status === 0"
                disabled="true"
              >
                Pendente
              </button>

              <button
                class="map-button ranked"
                v-else-if="currentMap?.status === 2"
                disabled="true"
              >
                Ranqueado
              </button>
              <button
                class="map-button ranked"
                v-else-if="currentMap?.status === 3"
                disabled="true"
              >
                Aprovado
              </button>
              <button
                class="map-button ranked"
                v-else-if="currentMap?.status === 4"
                disabled="true"
              >
                Qualificado
              </button>
              <button
                class="map-button loved"
                v-else-if="currentMap?.status === 5"
                disabled="true"
              >
                Loved
              </button>
            </div>
          </div>
        </section>

        <section class="diff-select-section">
          <div class="diff-container">
            <div v-for="(item, index) in currentDiffs" class="diff">
              <div
                @click="ChangeDiff(item.id)"
                :class="'diff-button' + (currentMap?.id === item.id ? ' selected' : '')"
                :disabled="(currentMap?.id === item.id)"
              >
                <span class="star-rating"><% item.diff %></span>
                <span> <% item.version %> <% (item.mode !== mode && item.mode === 0 ? '(convert)' : '') %></span>
              </div>
            </div>
          </div>
          <div class="modes-container">
            <div class="modes-button" v-if="modes.includes(0)">
              <i
                :class="`mode-icon mode-osu ${(mode === 0 ? 'selected' : '')}`"
                @click="ChangeMode(0)"
              ></i>
            </div>
            <div class="modes-button" v-if="modes.includes(1)">
              <i
                :class="`mode-icon mode-taiko ${(mode === 1 ? 'selected' : '')}`"
                @click="ChangeMode(1)"
              ></i>
            </div>
            <div class="modes-button" v-if="modes.includes(2)">
              <i
                :class="`mode-icon mode-catch ${(mode === 2 ? 'selected' : '')}`"
                @click="ChangeMode(2)"
              ></i>
            </div>
            <div class="modes-button" v-if="modes.includes(3)">
              <i
                :class="`mode-icon mode-mania ${(mode === 3 ? 'selected' : '')}`"
                @click="ChangeMode(3)"
              ></i>
            </div>
          </div>
        </section>
      </div>
      <div
        class="image-banner"
        :style="`
          background-image: url('https://assets.ppy.sh/beatmaps/${bmsId}/covers/cover.jpg');
          background-size:cover;
          background-position:center;
        `"
      ></div>
    </template>
  </div>
  <div class="main-block">
    <div class="scores-tab" >
      <!-- <% console.log(currentScores, "wfaf") %> -->
      <template v-if="error === false">
        <div class="extra-modes">
          <button
            :class="`extra-modes-button ${(extraMode === 0 ? 'selected' : '')}`"
            @click="ChangeExtraMode(0)"
          >
            Vanilla
          </button>
          <button
            :class="`extra-modes-button ${(extraMode === 4 ? 'selected' : '')}`"
            :disabled="(currentMap?.mode === 3)"
            @click="ChangeExtraMode(4)"
          >
            Relax
          </button>
          <button
            :class="`extra-modes-button ${(extraMode === 8 ? 'selected' : '')}`"
            :disabled="(currentMap?.mode === 3 || currentMap?.mode === 2 || currentMap?.mode === 1)"
            @click="ChangeExtraMode(8)"
          >
            Autoplay
          </button>
        </div>
  
        <template v-if="(isLoadingScores === true)"
          >Carregando pontuações...</template
        >
        <template v-else-if="!(currentScores) || currentScores.length < 1">
          Nenhuma pontuação encontrada.
        </template>
        <template v-else>
          <div class="scores-container">
            <div class="score-index">Posição</div>
            <div class="score-player">Jogador(a)</div>
            <div class="score-grade">Nota</div>
            <div class="score-mods">Mods</div>
            <div
              @click="ChangeSort('max_combo')"
              :class="`score-combo sortable-down ${(sort === 'max_combo' ? 'selected' : '')}`"
            >
              Combo
            </div>
            <div
              @click="ChangeSort('pp')"
              :class="`score-pp sortable-down ${(sort === 'pp' ? 'selected' : '')}`"
            >
              PP
            </div>
            <div
              @click="ChangeSort('acc')"
              :class="`score-acc sortable-down ${(sort === 'acc' ? 'selected' : '')}`"
            >
              Precisão
            </div>
            <div
              @click="ChangeSort('score')"
              :class="`score-grade sortable-down ${(sort === 'score' ? 'selected' : '')}`"
            >
              Pontuação
            </div>
            <div @click="ChangeSort('play_time')"
            :class="`score-grade sortable-down ${(sort === 'play_time' ? 'selected' : '')}`">Tempo</div>
  
            <template class="score" v-for="(score, index) in currentScores">
              
              <div class="score-index">#<% index + 1 %></div>
              
  
              <div class="score-player" style="display: flex">
                <a
                  :href="`https://${domain}/leaderboard/${ModeIntToStr(currentMap?.mode)}/pp/${ModeIntToStr(extraMode, true)}/${score.country}`"
                  style="margin-right: auto"
                  ><div
                    class="player-flag"
                    :style="`background-image:url('/static/images/flags/${score.country.toUpperCase()}.png'); margin-right:auto; margin-left:0.25rem`"
                  >
                    <div class="flag-dropdown">
                      <% flags[score.country.toUpperCase()] %>
                    </div>
                  </div></a
                ><a
                  :href="`https://${domain}/u/${score.userid}`"
                  style="margin-right: auto"
                  ><% score.player_name %></a
                >
              </div>
              <div :class="`score-grade map-rank rank-${score.grade}`">
                <% score.grade.replace("SH", "S").replace("XH", "SS").replace("X",
                "SS") %>
              </div>

              <div class="score-mods`">
                +<% modsStr(score.mods) %>
              </div>
  
              <div
                :class="'score-combo' + (score.perfect === 1 ? ' max-combo' : '')"
              >
                <% score.max_combo %>x
              </div>
              <div class="score-pp"><% Math.round(score.pp * 100) / 100 %>pp</div>
              <div class="score-acc">
                <% Math.round(score.acc * 100) / 100 %>%
              </div>
              <div class="score-score">
                <% new Intl.NumberFormat("pt-BR").format(score.score) %>
              </div>
              <div class="score-time-since"><% dayjs().to(dayjs.utc(score.play_time)) %></div>
            </template>
          </div>
        </template>
      </template>
      
    </div>
  </div>
</div>

<script src="/static/js/asserts/vue-flags.js"></script>
<script src="/static/js/pages/beatmapsets.js"></script>
{% endblock %}
