{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/home.css">
<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
<script>
    var domain = "{{ domain() }}";
</script>
{% endblock %}

{% block content %}

{% if flash %}
<div class='noti-banner noti-banner-warning'>
  <div class="container">
    <div class="noti-column">
      <div class='noti-col noti-col-icon'></div>
      <div class='noti-col noti-col-label'>
        <div class='noti-bannertype'>
          {% if status=='error' %}
          Warning
          {% elif status=='success' %}
          Notice
          {% endif %}
        </div>
        <div class='noti-bannertext'>
          {% if status=='error' %}
          Uh oh! Be careful!
          {% elif status=='success' %}
          Hey! Listen!
          {% endif %}
        </div>
      </div>
      <div class='noti-banner-text'>
        {{ flash }}
      </div>
    </div>
  </div>
</div>
{% endif %}

<section class="container content">
  <div class="home-main">
    <div class="content-container">
      <div class="status dont-touch-me-there-senpai" id="status">
        <span class="online-users">
          <span class="count"><% online_users %></span> online users
        </span>

        <span class="divide"></span>

        <span class="total-users">
          <span class="count"><% total_users %></span> registered users
        </span>
      </div>

      <div class="server-name dont-touch-me-there-senpai">
        kurai.pw!
      </div>

      <div class="welcome-text dont-touch-me-there-senpai">
        {% if not session['authenticated'] %}
          <strong>
            Welcome to {{ domain() }}!
          </strong>
          {{ domain() }}! is a private osu! server with everything Bancho has to offer, Relax leaderboards and more! We have the Relax leaderboards, Relax profiles, Relax PP system, our own beatmap ranking and a dedicated leadership team. Why hesitate? Join {{ domain() }}! now!
        {% else %}
          Hi <strong>{{ session.user_data['name'] }}</strong>!
          Welcome back to our private osu! server. We're glad to see you've returned to enjoy our exclusive features and community. Our custom maps and game modes offer a unique osu! experience that you won't find anywhere else. So let's get tapping those beats and have some fun together!
        {% endif %}
      </div>


      <div class="actions">
        {% if not session['authenticated'] %}
          <a class="register" href="/register">Register</a>
          <a class="login" href="/login">Login</a>
        {% endif %}
        <a class="actions-discord" href="/discord" target="_blank">Discord</a>
        {% if session['authenticated'] %}
          <a class="actions-support-us" href="/topg" target="_blank">Support us!</a>
        {% endif %}
      </div>
    </div>

    <div class="video-container">
      <video autoplay loop muted src="/static/video/home.webm"></video>
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title mb-6">Some of our coolest features</h2>
    <div class="columns has-text-left mb-6">
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="fas fa-plane"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">PP for Relax and Autopilot</h4>
            <p class="subtitle is-6">Our server has unique pp formula for relax and autopilot.
              Good at waving your cursor or just smashing your keyboard? Join {{ appName() }} and get a fair reward for
              your skills!
            </p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 far fa-heart"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">Free osu!direct</h4>
            <p class="subtitle is-6">You won't have to pay for <strong>osu!supporter</strong> to have a convenient gameplay experience in
              the
              client - osu!direct is available for everyone! Keep in mind supporting us still grants a huge set of cool
              perks but
              absence of it doesn't affect your game sessions!</p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="fa-brands fa-discord"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">Own Discord Bot</h4>
            <p class="subtitle is-6">
                We have a unique discord bot written specificly for <strong>{{ domain() }}</strong> that offers many functions! (in future) You are able to
                flex your top plays, recent score and much more! (in future) This works for all gamemodes!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if not session.authenticated %}
<section class="hero splash">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-spaced">What are you waiting for?</h1>
      <h2 class="subtitle">Join {{ appName() }}! It's risk-free! You won't get your account banned on official servers
        if
        you play here with us! And don't worry, as you can always switch between the official servers and us at any time!</h2>
      <div class="buttons is-centered"><a class="control button is-primary" href="/register">Sign up for free</a><a
          class="control button is-light" href="/login">Login</a></div>
    </div>
  </div>
</section>
{% endif %}

<script src="/static/js/pages/home.js"></script>

{% endblock %}
