{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/home.css">
{% endblock %}

{% block content %}

{% if flash %}
<div class='noti-banner noti-banner-warning'>
  <div class="container">
    <div class="noti-column">
      <div class='noti-col noti-col-icon'></div>
      <div class='noti-col noti-col-label'>
        <div class='noti-bannertype'>
          {% if status=='error' %}
          Warning
          {% elif status=='success' %}
          Notice
          {% endif %}
        </div>
        <div class='noti-bannertext'>
          {% if status=='error' %}
          Uh oh! Be careful!
          {% elif status=='success' %}
          Hey! Listen!
          {% endif %}
        </div>
      </div>
      <div class='noti-banner-text'>
        {{ flash }}
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="hero splash p-less is-fullheight-with-navbar" id="home-hero">
  <div class="container flex">
    <div class="columns flex-vcenter">
      <div class="column flex-vcenter flex-lcenter is-size-2-desktop is-size-1-fullhd" id="title">
        <h1 class="title is-spaced is-size-2-desktop is-size-1-fullhd">{{ appName() }}</h1>
        <h2 class="subtitle">
          We are an osu! private server built from the ground up with many
          unique features not seen elsewhere - for more information, check
          out <a href="http://github.com/cmyui/gulag">gulag</a>
          and <a href="https://github.com/Varkaria/guweb">guweb</a>
          on GitHub - we're fully open source!
        </h2>
        {% if not session.authenticated %}
        <div class="buttons">
          <a class="button is-primary" href="/register">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/login">
            Log in
          </a>
        </div>
        {% endif %}
      </div>
      <div class="column flex flex-lcenter" id="mascot">
        <div class="gulag-avatar"></div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title mb-6">Some of our coolest features</h2>
    <div class="columns has-text-left mb-6">
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-address-card"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">PP for Relax and Autopilot</h4>
            <p class="subtitle is-6">Our server has unique pp formula for relax and autopilot.
              Good at waving your cursor or just smashing your keyboard? Join {{ appName() }} and get a fair reward for
              your skills!
            </p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-ambulance"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">Free osu!direct</h4>
            <p class="subtitle is-6">You won't have to pay for osu!supporter to have a convenient gameplay experience in
              the
              client - osu!direct is available for everyone! Keep in mind supporting us still grants a huge set of cool
              perks but
              absence of it doesn't affect your game sessions!</p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-archive"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">Flexible library</h4>
            <p class="subtitle is-6">We're written on top of cmyui's multipurpose library allowing for a fully
              asynchronous environment, both improving performance and the user's experience in the long term!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if not session.authenticated %}
<section class="hero splash">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-spaced">What are you waiting for?</h1>
      <h2 class="subtitle">Join {{ appName() }}! It's risk-free! You won't get your account banned on official servers
        if
        you play here with us! And don't worry, as you can always switch between the official servers and us at any time!</h2>
      <div class="buttons is-centered"><a class="control button is-primary" href="/register">Sign up for free</a><a
          class="control button is-light" href="/login">Login</a></div>
    </div>
  </div>
</section>
{% endif %}

{% endblock %}
