{% extends 'base.html' %}
{% block title %} Início {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/home.css">
{% endblock %}

{% block content %}

{% if flash %}
<div class='noti-banner noti-banner-warning'>
  <div class="container">
    <div class="noti-column">
      <div class='noti-col noti-col-icon'></div>
      <div class='noti-col noti-col-label'>
        <div class='noti-bannertype'>
          {% if status=='error' %}
          Atenção
          {% elif status=='success' %}
          Aviso
          {% endif %}
        </div>
        <div class='noti-bannertext'>
          {% if status=='error' %}
          Opa! Tenha cuidado!
          {% elif status=='success' %}
          E aí? Saca só!
          {% endif %}
        </div>
      </div>
      <div class='noti-banner-text'>
        {{ flash }}
      </div>
    </div>
  </div>
</div>
{% endif %}

<script>
const total = fetch('https://api.fubi.ca/get_player_count').then((res) => res.json()).then(data => {
    document.getElementById('total-users').append(data.counts.total);
	document.getElementById('online-users').append(data.counts.online);
  });
</script>

<div class="hero splash p-less is-fullheight-with-navbar" id="home-hero">
  <div class="container flex">
    <div class="columns flex-vcenter">
      <div class="column flex-vcenter flex-lcenter is-size-2-desktop is-size-1-fullhd" id="title">
        <h1 class="title is-spaced is-size-2-desktop is-size-1-fullhd">{{ appName() }}</h1>
        <h2 class="subtitle">
          Nós somos um servidor privado de osu! construído do zero com muitas
          funcionalidades únicas não vistas em outro lugar - para mais informações, 
          dê uma olhada <a href="https://github.com/nekoraw/bancho.py">bancho.py</a>
          e <a href="https://github.com/nekoraw/guweb">guweb</a>
          no GitHub - somos 100% código-aberto!

          <p>Temos <a id='online-users'></a> jogadores online e <a id='total-users'></a> registrados.</p>
        </h2>
        {% if not session.authenticated %}
        <div class="buttons">
          <a class="button is-primary" href="/register">
            <strong>Cadastrar-se</strong>
          </a>
          <a class="button is-light" href="/login">
            Fazer Login
          </a>
        </div>
        {% endif %}
      </div>
      <div class="column flex flex-lcenter" id="mascot">
        <div class="gulag-avatar"></div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title mb-6">Alguns de nossos recursos mais legais</h2>
    <div class="columns has-text-left mb-6">
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-address-card"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">PP para Relax e Autopilot</h4>
            <p class="subtitle is-6">Nosso servidor possui uma fórmula única de pp para Relax e Autopilot. 
              Você é bom em balançar o seu cursor ou só clicar no seu teclado? Junte-se a {{ appName() }} e consiga uma recompensa justa para suas habilidades.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-ambulance"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">osu!direct gratuito</h4>
            <p class="subtitle is-6">Você não tem que pagar osu!supporter para ter uma experiência de jogo conveniente 
              - osu!direct está disponível para todo mundo! Tenha em mente que nos dar suporte te dá uma série de vantagens legais, 
              mas caso não puder, isso não afetará sua experiência de jogo!</p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-archive"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">Biblioteca flexível</h4>
            <p class="subtitle is-6">Nós fomos desenvolvidos por cima da biblioteca multiuso do cmyui, o que nos permite um ambiente completamente assíncrono, 
              o que melhora a performance e a experiência do usuário a longo prazo!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if not session.authenticated %}
<section class="hero splash">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-spaced">O que está esperando?</h1>
      <h2 class="subtitle">Junte-se ao {{ appName() }}! Sua conta não vai ser banida dos servidores oficiais se você jogar conosco! E não se preocupe, já que você pode trocar entre o servidor oficial e o nosso para jogar em qualquer momento!</h2>
      <div class="buttons is-centered"><a class="control button is-primary" href="/register">Cadastre-se de graça! </a><a
          class="control button is-light" href="/login">Fazer login</a></div>
    </div>
  </div>
</section>
{% endif %}

{% endblock %}
