{% extends 'base.html' %}
{% block title %} Multiple Users are here. {% endblock %}

{% block content %}
<div>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Select a user
      </p>
    </header>
    {% for user in users %}
      <a class="box my-1" href="/u/{{ user.safe_name }}?isName">
        <div class="media mx-4 my-3">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="//a.{{ domain() }}/{{ user['id'] }}" onerror="this.src='/static/images/avatar_notwork.png';">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ user.name }}</p>
            <p class="subtitle is-6">@{{ user.safe_name }}</p>
          </div>
        </div>
      </a>
      {% endfor %}
  </div>
</div>
{% endblock %}