{% extends 'base.html' %}
{% block title %} Profile {% endblock %}

{% macro scores(title, id) %}
<div class="log-block" v-bind:class="{ 'load' : data.scores.{{ id }}.load }">
    <div class="header">
        <div class="title">
            <i class="fas fa-trophy"></i> {{ title }}
        </div>
    </div>
    <div v-if="data.scores.{{ id }}.out.length != 0" class="scores">
        <div v-for="(map, index) in data.scores.{{ id }}.out" class="map-single"
            :style="`background: linear-gradient(hsl(var(--main), 25%, 25%, 90%), hsl(var(--main), 25%, 25%, 90%)), url(https://assets.ppy.sh/beatmaps/${map.beatmap.set_id}/covers/cover.jpg)`">
            <div class="map-data">
                <div class="map-content1">
                    <div class="map-image">
                        <img v-bind:src="'https://assets.ppy.sh/beatmaps/' + map.beatmap.set_id + '/covers/card.jpg'"
                            class="map-image-picture">
                    </div>
                    <div class="map-title-block">
                        <div class="map-title">
                            <a class="beatmap-link">
                                <% map.beatmap.artist %> - <% map.beatmap.title %> [<% map.beatmap.version %>] <!--<span v-if="map.mods != 0">+ <% modsStr(map.mods) %></span>-->
                            </a>
                        </div>
                        <div class="play-stats">
                            <% addCommas(map.score) %> / <% map.max_combo %><b>x</b>
                        </div>
                        <div class="map-date">
                            <time>
                                <% timeago.format(map.play_time) %>
                            </time>
                        </div>
                    </div>
                </div>
                <div class="map-content2">
                    <div class="score-details d-flex">
                        <div class="score-details_right-block">
                            <div class="score-details_pp-block">
                                <div class="map-pp">
                                    <% map.pp.toFixed() %><span class="map-pp-unit">pp</span>
                                </div>
                                <div class="map-acc">accuracy:&nbsp;<b>
                                        <% map.acc.toFixed(2) %>%
                                    </b></div>
                            </div>
                            <div class="score-details_grade-block">
                                <div class="rank-single">
                                    <div v-bind:class="'map-rank rank-'+map.grade">
                                        <% map.grade.replace("X", "SS" ).replace("H", "" ) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else-if="data.scores.{{ id }}.out.length == 0" class="stats-block">
        <div class="columns is-marginless">
            <div class="column is-1">
                <h1 class="title">: (</h1>
            </div>
            <div class="column">
                <h1 class="title is-6">No scores available</h1>
                <p class="subtitle is-7">Try playing something?</p>
            </div>
        </div>
    </div>
    <div v-if="data.scores.{{ id }}.more.full == false" class="extra-block">
        <a class="show-button" @click="AddLimit('{{ id }}score')">Show more</a>
    </div>
</div>
{% endmacro %}

{% macro maps(title, id) %}
<div class="log-block" v-bind:class="{ 'load' : data.maps.{{ id }}.load }">
    <div class="header">
        <div class="title">
            <i class="fas fa-address-book"></i> Most Played Beatmaps
        </div>
    </div>
    <div v-if="data.maps.{{ id }}.out.length != 0" class="beatmaps">
        <a v-for="(map, index) in data.maps.{{ id }}.out" class="beatmap-block">
            <div class="beatmap-preview"
                v-bind:style='{ background: `url(https://assets.ppy.sh/beatmaps/${map.set_id}/covers/card.jpg)` }'>
            </div>
            <div class="beatmap-stats"><span class="beatmap-title">
                    <% map.title %>
                </span> <span class="beatmap-artist">
                    <% map.artist %>
                </span>
                <div class="beatmap-footer"><span class="beatmap-mapper"> by <span
                            class="newmaps-color">
                            <% map.creator %>
                        </span></span>
                    <div class="d-flex align-items-baseline"><span>
                            <% map.plays %>
                        </span>
                        <div class="target-button newmaps-color"><i class="fas fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div v-else-if="data.maps.{{ id }}.out.length == 0" class="stats-block">
        <div class="columns is-marginless">
            <div class="column is-1">
                <h1 class="title">: (</h1>
            </div>
            <div class="column">
                <h1 class="title is-6">No beatmaps available</h1>
                <p class="subtitle is-7">Try playing something?</p>
            </div>
        </div>
    </div>
    <div v-if="data.maps.{{ id }}.more.full == false" class="extra-block">
        <a class="show-button" @click="AddLimit('mostplay')">Show more</a>
    </div>
</div>
{% endmacro %}

{% block header %}
<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
<link rel="stylesheet" href="/static/css/pages/profile.css">

<script>
    var userid = Number("{{ user['id'] }}"); //For text editor doesn't dizzy lmao
    var mode = '{{ mode }}';
    var mods = '{{ mods }}';
    var domain = "{{ domain() }}";
</script>
{% endblock %}

{% block content %}
<div id="app">
    <div class="main-block">
        <div class="profile-bg">
            <div class="info-block">
                <h1 class="title">
                    <p class="ranks">
                        <img src="/static/images/flags/{{ user['country']|upper }}.png" class="profile-flag">
                        <span class="bgf">{{ user['name'] }}</span>
                    </p>
                </h1>
                <transition name="fade">
                    <div class="subtitle" v-if='data.status.online == false'>
                        <a class='circle'>●</a> Offline
                    </div>
                    <div class="subtitle" v-else-if='data.status.online == true'>
                        <a class='circle green'>●</a> Online
                    </div>
                </transition>
            </div>
            <div class="anime-girl">
                <!-- (if you want to add it)
                    <img src="{your transparent img src}" alt="">
                -->
            </div>
            <transition name="click">
                <div class="online-infomation" v-if='data.status.online == true'
                    :key="actionIntToStr(data.status.status)">
                    <% actionIntToStr(data.status.status) %>
                </div>
            </transition>
        </div>
        <div class="profile-flex">
            <div class="profile-avatar-area">
                <img src="https://a.{{ domain() }}/{{ user['id'] }}" alt="avatar" class="rounded-avatar profile-avatar"
                    onError="this.src='/static/images/avatar_notwork.png';">
            </div>
            <div class="bar-selection mode-selects">
                <div class="select-left">
                    <a class="simple-banner-switch" v-bind:class="{ 'selected': mode === 'std' }"
                        @click="ChangeModeMods('std',mods)"><i class="mode-icon mode-osu"></i><span
                            class="mode-text">osu!</span></a>
                    <a class="simple-banner-switch" v-bind:class="{ 'selected': mode === 'taiko', 'disabled': mods === 'ap' }"
                        @click="ChangeModeMods('taiko',mods)"><i class="mode-icon mode-taiko"></i><span
                            class="mode-text">osu!taiko</span></a>
                    <a class="simple-banner-switch" v-bind:class="{ 'selected': mode === 'catch', 'disabled': mods === 'ap' }"
                        @click="ChangeModeMods('catch',mods)"><i class="mode-icon mode-catch"></i><span
                            class="mode-text">osu!catch</span></a>
                    <a class="simple-banner-switch" v-bind:class="{ 'selected': mode === 'mania', 'disabled': mods === 'ap' || mods === 'rx' }"
                        @click="ChangeModeMods('mania',mods)"><i class="mode-icon mode-mania"></i><span
                            class="mode-text">osu!mania</span></a>
                </div>
                <div class="select-right">
                    <a class="simple-banner-switch" v-bind:class=" { 'selected': mods === 'vn' }"
                        @click="ChangeModeMods(mode,'vn')"><span class="mods-fulltext">Vanilla</span>
                        <span class="mods-shorttext">VN</span></a>
                    <a class="simple-banner-switch" v-bind:class=" { 'selected': mods === 'rx', 'disabled': mode === 'mania' }"
                        @click="ChangeModeMods(mode,'rx')"><span class="mods-fulltext">Relax</span>
                        <span class="mods-shorttext">RX</span></a>
                    <a class="simple-banner-switch" v-bind:class=" { 'selected': mods === 'ap', 'disabled': mode === 'taiko' || mode === 'catch' || mode === 'mania'  }"
                        @click="ChangeModeMods(mode,'ap')"><span class="mods-fulltext">Autopilot</span><span
                            class="mods-shorttext">AP</span></a>
                </div>
            </div>
            <div class="bar-selection badge-selects">
                <span>
                    Badges not yet implemented!
                </span>
            </div>
        </div>
    </div>
    <div class="second-block">
        <div class="columns is-marginless two-sides">
            <div class="column is-one-third" v-cloak>
                <!--<div class="header" v-if='data.stats[`rank_global_${modegulag}`] != -1'>
                    <div class="title">
                        <i class="fas fa-user-friends"></i> Rank
                    </div>
                </div>
                <div class="stats-block rank-block" v-if='data.stats[`rank_global_${modegulag}`] != -1'>
                    <table class="is-striped">
                        <tbody>
                            <tr>
                                <td>Global rank</td>
                                <td class="right-aligned">
                                    <span id="global-rank">
                                        <% '#' + data.stats[`rank_global_${modegulag}`] %>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Country rank</td>
                                <td class="right-aligned">
                                    <span id="country-rank">
                                        <% '#' + data.stats[`rank_country_${modegulag}`] %>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>-->
                <div class="header">
                    <div class="title">
                        <i class="fas fa-chart-pie"></i> Statistics
                    </div>
                </div>
                <div class="stats-block">
                    <table class="is-striped">
                        <tbody>
                            <tr>
                                <td><b>PP</b></td>
                                <td class="right-aligned">
                                    <% addCommas(data.stats.out[modegulag].pp) %>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Ranked score</b></td>
                                <td class="right-aligned">
                                    <% addCommas(data.stats.out[modegulag].rscore) %>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Total score</b></td>
                                <td class="right-aligned">
                                    <% addCommas(data.stats.out[modegulag].tscore) %>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Max combo</b></td>
                                <td class="right-aligned">
                                    <% addCommas(data.stats.out[modegulag].max_combo) %>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Playcount</b></td>
                                <td class="right-aligned">
                                    <% addCommas(data.stats.out[modegulag].plays) %>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Playtime</b></td>
                                <td class="right-aligned">
                                    <% secondsToDhm(data.stats.out[modegulag].playtime) %>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Accuracy</b></td>
                                <td class="right-aligned">
                                    <% data.stats.out[modegulag].acc %>%
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="grade-block" v-if="data.grades">
                        <article class="media">
                            <div class="media-content">
                                <div class="grade-line">
                                    <div class="rank-single">
                                        <div class="map-rank rank-X">SS</div>
                                        <div class="rank-amount">
                                            <% data.stats.out[modegulag].x_count %>
                                        </div>
                                    </div>
                                    <div class="rank-single">
                                        <div class="map-rank rank-XH">SS</div>
                                        <div class="rank-amount">
                                            <% data.stats.out[modegulag].xh_count %>
                                        </div>
                                    </div>
                                </div>
                                <div class="grade-line">
                                    <div class="rank-single">
                                        <div class="map-rank rank-S">S</div>
                                        <div class="rank-amount">
                                            <% data.stats.out[modegulag].s_count %>
                                        </div>
                                    </div>
                                    <div class="rank-single">
                                        <div class="map-rank rank-SH">S</div>
                                        <div class="rank-amount">
                                            <% data.stats.out[modegulag].sh_count %>
                                        </div>
                                    </div>
                                    <div class="rank-single">
                                        <div class="map-rank rank-A">A</div>
                                        <div class="rank-amount">
                                            <% data.stats.out[modegulag].a_count %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <!--<div class="level-block">
                    <div class="columns is-marginless is-2">
                        <div class="column level-bar is-paddingless">
                            <div class="progress-level"></div>
                        </div>
                        <div class="column level-num is-one-fifth is-textcen">
                            <% data.stats[`level_${modegulag}`] %>
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="column">
                {{ scores('Best Scores', 'best')}}
                {{ scores('Recent Scores', 'recent')}}
                {{ maps('Most Beatmaps Played', 'most')}}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom %}
<script src="/static/js/pages/profile.js"></script>
{% if user['customisation']['banner'] == True or user['customisation']['background'] == True %}
<style>
    {% if user['customisation']['banner'] == True %}
        .profile-bg {
            min-height: 262px;
            background: linear-gradient(hsl(var(--main), 25%, 25%, 20%), hsl(var(--main), 25%, 25%, 60%)), url("/banners/{{ user['id'] }}");
            background-size: cover;
        }
    {% endif %}
    {% if user['customisation']['background'] == True %}
        body {
            background: linear-gradient(hsl(var(--main), 25%, 25%, 20%), hsl(var(--main), 10%, 10%)), url("/backgrounds/{{ user['id'] }}");
            background-size: cover;
            background-clip: content-box;
        }
    {% endif %}
</style>
{% endif %}
{% endblock bottom %}
