{% extends "base.html" %}
{% block title %} Cadastro {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/auth.css">
{% endblock %}

{% block content %}
<div class="main-block is-marginless is-paddingless is-auth">
  <div class="columns pm-reset is-weeb">
    <div class="column title-block">
      <h1 class="title" id="regtitle">Cadastro</h1>
    </div>
  </div>
  <div class="columns pm-reset flex-lcenter is-block">
    <div class="box">
      <div class="login-bg"></div>
      <form action="/register" method="post" class="form-content">
        <div class="field">
          <label for="user" class="label">Nome de usuário</label>
          <div class="control has-icons-left">
            <input id="user" type="text" name="username" placeholder="ex.: Proteu" class="input" autocomplete="username" maxlength="15" minlength="2" required>
            <span class="icon is-small is-left">
              <i class="fa fa-user-circle"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="email" class="label">Email</label>
          <div class="control has-icons-left">
            <input id="email" type="email" name="email" placeholder="ex.: proteu@nkrw.ga" class="input" autocomplete="email" required>
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="pass" class="label">Senha</label>
          <div class="control has-icons-left">
            <input id="pass" type="password" name="password" placeholder="NÃO ESQUEÇA A SENHA, É SÉRIO" class="input" autocomplete="new-password" maxlength="32" minlength="8" required>
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="state" class="label">Estado</label>
          <div class="control has-icons-left">
            <select id="state" name="state" class="input" placeholder="Escolha o seu estado">
                <option value="" disabled selected>Selecione uma opção</option>
                <option value="zz">Estrangeiro</option>
                <option value="a1">Acre</option>
                <option value="a2">Alagoas</option>
                <option value="a3">Amapá</option>
                <option value="a4">Amazonas</option>
                <option value="b1">Bahia</option>
                <option value="c1">Ceará</option>
                <option value="d1">Distrito Federal</option>
                <option value="e1">Espírito Santo</option>
                <option value="g1">Goiás</option>
                <option value="m1">Maranhão</option>
                <option value="m2">Mato Grosso</option>
                <option value="m3">Mato Grosso do Sul</option>
                <option value="m4">Minas Gerais</option>
                <option value="p1">Paraná</option>
                <option value="p2">Pará</option>
                <option value="p3">Paraíba</option>
                <option value="p4">Pernambuco</option>
                <option value="p5">Piauí</option>
                <option value="r1">Rio de Janeiro</option>
                <option value="r2">Rio Grande do Norte</option>
                <option value="r3">Rio Grande do Sul</option>
                <option value="r4">Rondônia</option>
                <option value="r5">Roraima</option>
                <option value="s1">Santa Catarina</option>
                <option value="s2">São Paulo</option>
                <option value="s3">Sergipe</option>
                <option value="t1">Tocantins</option>
            </select>
            <span class="icon is-left icon-select">
              <i class="fa fa-map"></i>
            </span>
          </div>
        </div>
        {% if keyVerification() %}
        <div class="field">
          <label for="key" class="label">Chave de registro</label>
          <div class="control has-icons-left">
            <input id="key" type="password" name="key" placeholder="se você não sabe o que é, lamento" class="input" maxlength="36" minlength="36" required>
            <span class="icon is-small is-left">
              <i class="fa fa-key"></i>
            </span>
          </div>
        </div>
        {% endif %}
        <div class="mt-5"></div>
        <div class="dialog">
          Já possui uma conta? <a href="/login">Faça Login</a>
        </div>
        {% if not captchaKey() == 'changeme' %}
        <div class="field">
          <div class="h-captcha" data-sitekey="{{ captchaKey() }}" data-theme="dark" style="display: flex; justify-content: center;"></div>
        </div>
        {% endif %}
        <div class="field">
          <button type="submit" class="button is-primary">
            Cadastrar-se
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% if flash %}
<div class="paper-snackbar is-{{ status }}" style="opacity: 1;">
  {{ flash }}
</div>
{% endif %}

{% if not captchaKey() == 'changeme' %}
<script src="https://hcaptcha.com/1/api.js" async defer></script>
{% endif %}

{% endblock %}