{% extends "base.html" %}
{% block title %} Register {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/reset-password.css">
{% endblock %}

{% block content %}
<div class="main-block is-auth">
  <div class="columns pm-reset is-weeb">
    <div class="column title-block">
      <h1 class="title" id="regtitle">Reset password</h1>
    </div>
  </div>
  <div class="columns pm-reset flex-lcenter is-block">
    <div class="box">
      <div class="login-bg"></div>
      <form action="/forgot" method="post" class="form-content">
        <div class="field mail-field">
          <label for="email" class="label">Email</label>
          <div class="control has-icons-left">
            <input id="email" name="data" placeholder="E-Mail or Username" class="input" required>
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="mt-5"></div>
        {% if not captchaKey() == 'changeme' %}
        <div class="field">
          <div class="h-captcha" data-sitekey="{{ captchaKey() }}" data-theme="dark" style="display: flex; justify-content: center;"></div>
        </div>
        {% endif %}
        <div class="field">
          <button type="submit" class="button is-primary">
            Send recovery code
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% if flash %}
<div class="paper-snackbar is-{{ status }}" style="opacity: 1;">
  {{ flash }}
</div>
{% endif %}

{% if not captchaKey() == 'changeme' %}
<script src="https://hcaptcha.com/1/api.js" async defer></script>
{% endif %}

{% endblock %}
