{% extends 'base.html' %}
{% block title %} Passos finais {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/verify.css">
{% endblock %}

{% block content %}
<div class="main-block is-marginless is-paddingless is-auth">
    <div class="columns pm-reset is-weeb">
        <div class="column title-block">
            <div class="titlewithsub">
                <h1 class="title is-left">Como verificar a sua conta</h1>
                <h2 class="subtitle">O que você quer dizer com isso? Deve ser fácil, né?</h2>
            </div>
        </div>
        <div class="column icon-block">
            <i class="fas fa-user-circle is-headericon"></i>
        </div>
    </div>
    <div class="columns pm-reset flex-lcenter is-block">
        <div class="box is-padding">
            <div class="bordertitle">
                <div class="titlewithsub">
                    <h1 class="title is-left">Verificação</h1>
                    <h2 class="subtitle">Siga esses três passos simples para começar a jogar no {{ appName() }}!</h2>
                </div>
            </div>
            <div class="howto-content">
                <div class="columns is-paddingless is-marginless">
                    <div class="column" id="howto">
                        <img class="thumbnail" src="/static/images/required.png" />
                        <div class="howto-info flex">
                            <div class="big-number flex flex-lcenter flex-vcenter">
                                <div class="howto-number">1</div>
                            </div>
                            <div class="howto-withsub">
                                <h1 class="title is-left">Atalho do osu! </h1>
                                <h2 class="subtitle">Encontre o seu atalho do osu! na área de trabalho e faça uma cópia dele. </h2>
                            </div>
                        </div>
                    </div>
                    <div class="column" id="howto">
                        <img class="thumbnail" src="/static/images/required.png" />
                        <div class="howto-info flex">
                            <div class="big-number flex flex-lcenter flex-vcenter">
                                <div class="howto-number">2</div>
                            </div>
                            <div class="howto-withsub">
                                <h1 class="title is-left">Edite-o</h1>
                                <h2 class="subtitle"><strong>1.</strong> Clique direito -> Propriedades<strong>2.</strong> Procure a caixa "Destino" <strong>3.</strong> Adicione " -devserver {{ domain() }}" ao fim do texto</h2>
                            </div>
                        </div>
                    </div>
                    <div class="column" id="howto">
                        <img class="thumbnail" src="/static/images/required.png" />
                        <div class="howto-info flex">
                            <div class="big-number flex flex-lcenter flex-vcenter">
                                <div class="howto-number">3</div>
                            </div>
                            <div class="howto-withsub">
                                <h1 class="title is-left">Faça login na sua conta</h1>
                                <h2 class="subtitle">Agora é só entrar na sua conta do {{ appName() }} e está tudo pronto!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bordertitle">
                <div class="titlewithsub">
                    <h1 class="title is-left">Putz! Não entendi algum passo, me ajuda!</h1>
                    <h2 class="subtitle">Precisa de ajuda? Estamos à disposição - entre no nosso servidor do Discord para que a nossa comunidade possa te ajudar!</h2>
                </div>
            </div>
            <div class="box flex is-mpadding is-marginless">
                <a href="/discord" class="flex" id="discord"><img
                        src="https://cdn.iconscout.com/icon/free/png-256/discord-2752210-2285027.png"
                        class="discord-logo">
                    <div class="clickhere-title flex flex-vcenter">
                        <h1 class="title">Clique aqui para unir-se ao nosso Discord!</h1>
                    </div>
                </a>
            </div>
            <div class="box is-block is-paddingless is-marginless is-waiting">
                <div class="columns flex is-paddingless is-marginless">
                    <div class="column flex flex-vcenter">
                        <div>
                            <h1 class="title is-left">Esperando a verificação...</h1>
                            <h2 class="subtitle">Siga as instruções acima, e quando você terminar basta recarregar a página!</h2>
                        </div>
                    </div>
                    <div class="column icon-block">
                        <div class="loading-anim">
                            <i class="fas fa-circle-notch is-headericon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
