{% extends 'base.html' %}
{% block title %} {{ t('global.verify') }} {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/verify.css?v={{ appVersion() }} ">
{% endblock %}

{% block content %}
<div class="main-block is-marginless is-paddingless is-auth">
    <div class="columns pm-reset is-weeb">
        <div class="column title-block">
            <div class="titlewithsub">
                <h1 class="title is-left">{{ t('verify.how-to-verify-your-account') }}</h1>
                <h2 class="subtitle">{{ t('verify.what-do-you-mean-this-must-be-easy-right') }}</h2>
            </div>
        </div>
        <div class="column icon-block">
            <i class="fas fa-user-circle is-headericon"></i>
        </div>
    </div>
    <div class="columns pm-reset flex-lcenter is-block">
        <div class="box is-padding">
            <div class="bordertitle">
                <div class="titlewithsub">
                    <h1 class="title is-left">{{ t('verify.verification') }}</h1>
                    <h2 class="subtitle">{{ t('verify.follow-these-three-simple-steps', appName = appName()) }}</h2>
                </div>
            </div>
            <div class="howto-content">
                <div class="columns is-paddingless is-marginless">
                    <div class="column" id="howto">
                        <img class="thumbnail" src="/static/images/required.png" />
                        <div class="howto-info flex">
                            <div class="big-number flex flex-lcenter flex-vcenter">
                                <div class="howto-number">1</div>
                            </div>
                            <div class="howto-withsub">
                                <h1 class="title is-left">{{ t('verify.osu-shortcut') }}</h1>
                                <h2 class="subtitle">{{ t('verify.find-your-shortcut') }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="column" id="howto">
                        <img class="thumbnail" src="/static/images/required.png" />
                        <div class="howto-info flex">
                            <div class="big-number flex flex-lcenter flex-vcenter">
                                <div class="howto-number">2</div>
                            </div>
                            <div class="howto-withsub">
                                <h1 class="title is-left">{{ t('verify.edit-it') }}</h1>
                                <h2 class="subtitle">
                                    <strong>1.</strong>{{ t('verify.right-click-properties') }}
                                    <strong>2.</strong>{{ t('verify.find-target-element-box') }}
                                    <strong>3.</strong>{{ t('verify.add-domain', domain = domain()) }}
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="column" id="howto">
                        <img class="thumbnail" src="/static/images/required.png" />
                        <div class="howto-info flex">
                            <div class="big-number flex flex-lcenter flex-vcenter">
                                <div class="howto-number">3</div>
                            </div>
                            <div class="howto-withsub">
                                <h1 class="title is-left">{{ t('verify.login-to-your-account') }}</h1>
                                <h2 class="subtitle">{{ t('verify.login-to-your-app-name-account', appName = appName()) }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bordertitle">
                <div class="titlewithsub">
                    <h1 class="title is-left">{{ t('verify.oh-crap-i-am-stuck') }}</h1>
                    <h2 class="subtitle">{{ t('verify.need-help-join-discord-server') }}</h2>
                </div>
            </div>
            <div class="box flex is-mpadding is-marginless">
                <a href="/discord" class="flex" id="discord"><img
                        src="https://cdn.iconscout.com/icon/free/png-256/discord-2752210-2285027.png"
                        class="discord-logo">
                    <div class="clickhere-title flex flex-vcenter">
                        <h1 class="title">{{ t('verify.click-here-to-join-our-discord') }}</h1>
                    </div>
                </a>
            </div>
            <div class="box is-block is-paddingless is-marginless is-waiting">
                <div class="columns flex is-paddingless is-marginless">
                    <div class="column flex flex-vcenter">
                        <div>
                            <h1 class="title is-left">{{ t('verify.waiting-for-verification') }}</h1>
                            <h2 class="subtitle">{{ t('verify.follow-the-simple-instructions') }}</h2>
                        </div>
                    </div>
                    <div class="column icon-block">
                        <div class="loading-anim">
                            <i class="fas fa-circle-notch is-headericon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
