<footer class="footer">
    <div class="content">
        <span>{{ appName() }} <strong>v{{ appVersion() }}</strong></span>
        <a class="foot-link" href="/github"><i class="fab fa-github"></i> GitHub</a>
        <a class="foot-link" href="/discord"><i class="fab fa-discord"></i> Discord</a>
        <a class="foot-link" href="/youtube"><i class="fab fa-youtube"></i> YouTube</a>
        <a class="foot-link" href="/twitter"><i class="fab fa-twitter"></i> Twitter</a>
        <a class="foot-link" href="/instagram"><i class="fab fa-instagram"></i> Instagram</a>
    </div>
</footer>
